$colorRed: red;
$colorPurple: purple;

$hoverColor: #fa6c65;

// PC版的寬度
// $pcSize: 1200px;
$pcSize: 1920px;

//手機板的寬度
$phoneSize: 640px;

* {
    font-family: "Microsoft YaHei","Heiti TC","sans-serif";
    box-sizing: border-box;
}

.hidden {
    display: none;
}