* {
  font-family: "Microsoft YaHei","Heiti TC","sans-serif";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

header {
  width: 100%;
  height: 101px;
}

header > .logo {
  width: 1920px;
  margin: 0 auto;
  padding: 1.2% 0px 0px 0px;
}

header > .logo > img {
  width: 240px;
  margin-left: 160px;
}

header > .logo > .smallmenu {
  display: none;
}

@media screen and (max-width: 640px) {
  header {
    width: 100%;
  }
  header > .logo {
    width: 100%;
    height: inherit;
  }
  header > .logo > img {
    width: 60%;
    margin: 20px 0px 0px 12.6%;
  }
  header > .logo > .smallmenu {
    display: block;
    float: right;
    margin: 18px 4% 0px 0%;
  }
  header > .logo > .smallmenu > img {
    cursor: pointer;
  }
}

nav {
  width: 100%;
  height: 55px;
  background-color: #F9F9F9;
}

nav > .list {
  width: 1920px;
  height: inherit;
  margin: 0 auto;
  padding-left: 160px;
}

nav > .list > ul {
  margin: 0;
  padding: 0;
}

nav > .list > ul > a > li {
  width: 200px;
  line-height: 55px;
  color: #707070;
  text-align: center;
  float: left;
  display: block;
  font-size: 1.25em;
  margin: 0 10px;
}

nav > .list > ul > a > li:hover {
  color: #fa6c65;
  font-weight: bolder;
}

#minimenu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 9999;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#minimenu > #close_btn {
  width: 37px;
  height: 37px;
  margin: 28px 0px 0px 28px;
  display: block;
}

#minimenu > .list {
  width: 70%;
  height: auto;
  margin: 0px 0px 0px 43px;
  padding: 11% 0px 0px 0px;
}

#minimenu > .list > ul > li {
  list-style-type: none;
  padding: 0px 0px 30% 0px;
}

#minimenu > .list > ul > li > a {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 40px;
  padding: 0 30px;
  color: white;
  font-size: 2em;
}

#minimenu > .list > ul > li > a:hover {
  font-size: 2.5em;
}

#minimenu.open {
  left: 0;
}

@media screen and (max-width: 640px) {
  nav {
    display: none;
  }
}

section {
  width: 100%;
  height: 325px;
  background-color: #303538;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

section > .infoWrap {
  width: 1920px;
  height: inherit;
}

section > .infoWrap > .info {
  float: left;
  width: 345px;
  height: auto;
  margin: 65px 0px 0px 176px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section > .infoWrap > .info > .infodata {
  color: white;
  margin: 20px 0px 0px 0px;
  font-size: 1.25em;
}

section > .infoWrap > .info > .infodata:first-child {
  font-weight: bolder;
  font-size: 1.6em;
}

section > .infoWrap > .about {
  float: left;
  width: 486px;
  margin: 65px 0px 0px 95px;
}

section > .infoWrap > .about > .infodata {
  color: white;
  margin: 20px 0px 0px 0px;
  font-size: 1.25em;
}

section > .infoWrap > .about > .infodata:first-child {
  font-weight: bolder;
  font-size: 1.6em;
}

@media screen and (max-width: 640px) {
  section {
    width: 100%;
    height: auto;
    display: block;
  }
  section > .infoWrap {
    width: 100%;
  }
  section > .infoWrap > .info {
    width: 80%;
    height: auto;
    margin: 48px 0px 0px 10%;
  }
  section > .infoWrap > .about {
    width: 80%;
    margin: 65px 0px 45px 10%;
  }
}

footer {
  width: 100%;
  height: 175px;
  background-color: #2D3134;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer > .footerWrap {
  width: 1920px;
  height: inherit;
  padding: 60px 0px 0px 151px;
}

footer > .footerWrap > .copyright {
  color: #fff;
  font-size: 1.25em;
  float: left;
}

footer > .footerWrap > .footerList {
  float: right;
  width: 41%;
  margin: 0px 13.2% 0px 0px;
}

footer > .footerWrap > .footerList > ul > a > li {
  list-style-type: none;
  color: white;
  font-size: 1.25em;
  float: left;
  margin: 0px 60px 0px 0px;
}

footer > .footerWrap > .footerList > ul > a > li:hover {
  color: #fa6c65;
  font-weight: bolder;
}

@media screen and (max-width: 640px) {
  footer {
    width: 100%;
    height: 370px;
    display: block;
  }
  footer > .footerWrap {
    width: 80%;
    height: auto;
    padding: 40px 0px 0px 0px;
    margin: 0px 0px 0px 10%;
  }
  footer > .footerWrap > .copyright {
    font-size: 0.9375em;
  }
  footer > .footerWrap > .footerList {
    float: left;
    width: 80%;
  }
  footer > .footerWrap > .footerList > ul {
    margin: 0px;
    padding: 0px;
  }
  footer > .footerWrap > .footerList > ul > a > li {
    margin: 30px 60px 0px 0px;
    clear: both;
  }
  footer > .footerWrap > .footerList > ul > a > li:hover {
    color: #fa6c65;
    font-weight: bolder;
  }
}

.banner {
  width: 100%;
  height: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background {
  width: 1920px;
  height: 417px;
  background-image: url("../images/banner-customized.png");
  background-size: cover;
}

.banner > .background > h1 {
  color: white;
  font-size: 6.75em;
  margin: 2.3% 0px 0px 36.4%;
}

.banner > .background > .line {
  margin: 55px 0px 0px 0px;
  width: 100%;
  height: 111px;
  background: rgba(249, 249, 249, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background > .line > .btn1 {
  float: left;
  width: 398px;
  height: inherit;
  background-color: #9B59B6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background > .line > .btn1 > a {
  color: white;
  font-size: 2em;
  text-decoration: none;
}

.banner > .background > .line > .btn2 {
  float: left;
  width: 398px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background > .line > .btn2 > a {
  color: #707070;
  font-size: 2em;
  text-decoration: none;
}

.banner > .background > .line > .btn3 {
  float: left;
  width: 398px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background > .line > .btn3 > a {
  color: #707070;
  font-size: 2em;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .banner {
    width: 100%;
    height: 230px;
    display: block;
  }
  .banner > .background {
    width: 100%;
    height: auto;
    padding: 0px 0px 30px 0px;
    background-image: url("../images/banner-customized.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner > .background > h1 {
    color: white;
    font-size: 2.6875em;
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 21.3%;
  }
  .banner > .background > .line {
    margin: 30px 0px 0px 0px;
    width: 100%;
    height: 111px;
    background: rgba(249, 249, 249, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner > .background > .line > .btn1 {
    float: left;
    width: 116px;
    height: 95px;
    margin: 0px 0px 0px 20px;
    padding: 14px 20px 14px 20px;
    border-radius: 25px;
    background-color: #9B59B6;
    text-align: center;
  }
  .banner > .background > .line > .btn1 > a {
    font-size: 1.2em;
  }
  .banner > .background > .line > .btn2 {
    float: left;
    width: 116px;
    height: 95px;
    border-radius: 25px;
    background-color: #E2DEDB;
    margin: 0px 0px 0px 13px;
    padding: 14px 20px 14px 20px;
    text-align: center;
  }
  .banner > .background > .line > .btn2 > a {
    font-size: 1.2em;
  }
  .banner > .background > .line > .btn3 {
    float: left;
    width: 116px;
    height: 95px;
    margin: 0px 20px 0px 13px;
    padding: 14px 20px 14px 20px;
    border-radius: 25px;
    background-color: #E2DEDB;
    text-align: center;
  }
  .banner > .background > .line > .btn3 > a {
    font-size: 1.4em;
  }
}

main {
  width: 100%;
  height: 1655px;
}

main > .title {
  margin: 0px auto;
  width: 1920px;
  height: 113px;
  padding: 60px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .title > .left {
  color: #9B59B6;
  font-size: 2.5em;
}

main > .title > .right {
  color: #848484;
  font-size: 2.5em;
}

article {
  width: 100%;
  margin: 145px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article > .section1 {
  width: 1920px;
  height: 490px;
}

article > .section1 > .leftimg {
  float: left;
  width: 58.8%;
  padding: 0px 0px 0px 100px;
}

article > .section1 > .righttext {
  float: left;
  width: 33%;
  font-size: 2em;
  color: #888888;
  padding: 100px 0px 0px 50px;
  line-height: 1.4em;
}

article > .section2 {
  width: 1920px;
  height: 610px;
  margin: 156px 0px 162px 0px;
}

article > .section2 > .lefttext {
  float: left;
  width: 44.2%;
  font-size: 2em;
  color: #888888;
  padding: 100px 6% 0px 7.4%;
  line-height: 1.4em;
}

article > .section2 > .lefttext > .text2 {
  margin: 45px 0px 0px 0px;
}

article > .section2 > .rightimg {
  float: left;
  width: 41%;
  padding: 0px 0px 0px 0px;
}

@media screen and (max-width: 640px) {
  main {
    width: 100%;
    height: auto;
  }
  main > .title {
    margin: 0px auto;
    width: 100%;
    height: 150px;
    padding: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main > .title > .left {
    width: 100%;
    color: #9B59B6;
    font-size: 1.75em;
    text-align: center;
    margin: 0px 0px 16px 0px;
  }
  main > .title > .left > .line {
    display: none;
  }
  main > .title > .right {
    width: 100%;
    color: #848484;
    font-size: 1.5em;
    text-align: center;
  }
  article {
    width: 100%;
    margin: 0px 0px 0px 0px;
  }
  article > .section1 {
    width: 100%;
    height: auto;
  }
  article > .section1 > .leftimg {
    float: left;
    width: 100%;
    padding: 0px 0px 0px 0px;
  }
  article > .section1 > .leftimg > img {
    width: 100%;
    padding: 10%;
  }
  article > .section1 > .righttext {
    width: 100%;
    padding: 30px;
    line-height: 1.5em;
  }
  article > .section2 {
    width: 100%;
    height: auto;
    margin: 45px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article > .section2 > .lefttext {
    float: right;
    width: 100%;
    padding: 35px 35px 35px 35px;
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  article > .section2 > .lefttext > .text2 {
    margin: 45px 0px 45px 0px;
  }
  article > .section2 > .rightimg {
    float: left;
    width: 100%;
    padding: 0px 0px 0px 0px;
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
  article > .section2 > .rightimg > img {
    width: 100%;
    padding: 10%;
  }
}
/*# sourceMappingURL=customized.css.map */