* {
  font-family: "Microsoft YaHei","Heiti TC","sans-serif";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

header {
  width: 100%;
  height: 101px;
}

header > .logo {
  width: 1920px;
  margin: 0 auto;
  padding: 1.2% 0px 0px 0px;
}

header > .logo > img {
  width: 240px;
  margin-left: 160px;
}

header > .logo > .smallmenu {
  display: none;
}

@media screen and (max-width: 640px) {
  header {
    width: 100%;
  }
  header > .logo {
    width: 100%;
    height: inherit;
  }
  header > .logo > img {
    width: 60%;
    margin: 20px 0px 0px 12.6%;
  }
  header > .logo > .smallmenu {
    display: block;
    float: right;
    margin: 18px 4% 0px 0%;
  }
  header > .logo > .smallmenu > img {
    cursor: pointer;
  }
}

nav {
  width: 100%;
  height: 55px;
  background-color: #F9F9F9;
}

nav > .list {
  width: 1920px;
  height: inherit;
  margin: 0 auto;
  padding-left: 160px;
}

nav > .list > ul {
  margin: 0;
  padding: 0;
}

nav > .list > ul > a > li {
  width: 200px;
  line-height: 55px;
  color: #707070;
  text-align: center;
  float: left;
  display: block;
  font-size: 1.25em;
  margin: 0 10px;
}

nav > .list > ul > a > li:hover {
  color: #fa6c65;
  font-weight: bolder;
}

#minimenu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 9999;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#minimenu > #close_btn {
  width: 37px;
  height: 37px;
  margin: 28px 0px 0px 28px;
  display: block;
}

#minimenu > .list {
  width: 70%;
  height: auto;
  margin: 0px 0px 0px 43px;
  padding: 11% 0px 0px 0px;
}

#minimenu > .list > ul > li {
  list-style-type: none;
  padding: 0px 0px 30% 0px;
}

#minimenu > .list > ul > li > a {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 40px;
  padding: 0 30px;
  color: white;
  font-size: 2em;
}

#minimenu > .list > ul > li > a:hover {
  font-size: 2.5em;
}

#minimenu.open {
  left: 0;
}

@media screen and (max-width: 640px) {
  nav {
    display: none;
  }
}

section {
  width: 100%;
  height: 325px;
  background-color: #303538;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

section > .infoWrap {
  width: 1920px;
  height: inherit;
}

section > .infoWrap > .info {
  float: left;
  width: 345px;
  height: auto;
  margin: 65px 0px 0px 176px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section > .infoWrap > .info > .infodata {
  color: white;
  margin: 20px 0px 0px 0px;
  font-size: 1.25em;
}

section > .infoWrap > .info > .infodata:first-child {
  font-weight: bolder;
  font-size: 1.6em;
}

section > .infoWrap > .about {
  float: left;
  width: 486px;
  margin: 65px 0px 0px 95px;
}

section > .infoWrap > .about > .infodata {
  color: white;
  margin: 20px 0px 0px 0px;
  font-size: 1.25em;
}

section > .infoWrap > .about > .infodata:first-child {
  font-weight: bolder;
  font-size: 1.6em;
}

@media screen and (max-width: 640px) {
  section {
    width: 100%;
    height: auto;
    display: block;
  }
  section > .infoWrap {
    width: 100%;
  }
  section > .infoWrap > .info {
    width: 80%;
    height: auto;
    margin: 48px 0px 0px 10%;
  }
  section > .infoWrap > .about {
    width: 80%;
    margin: 65px 0px 45px 10%;
  }
}

footer {
  width: 100%;
  height: 175px;
  background-color: #2D3134;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer > .footerWrap {
  width: 1920px;
  height: inherit;
  padding: 60px 0px 0px 151px;
}

footer > .footerWrap > .copyright {
  color: #fff;
  font-size: 1.25em;
  float: left;
}

footer > .footerWrap > .footerList {
  float: right;
  width: 41%;
  margin: 0px 13.2% 0px 0px;
}

footer > .footerWrap > .footerList > ul > a > li {
  list-style-type: none;
  color: white;
  font-size: 1.25em;
  float: left;
  margin: 0px 60px 0px 0px;
}

footer > .footerWrap > .footerList > ul > a > li:hover {
  color: #fa6c65;
  font-weight: bolder;
}

@media screen and (max-width: 640px) {
  footer {
    width: 100%;
    height: 370px;
    display: block;
  }
  footer > .footerWrap {
    width: 80%;
    height: auto;
    padding: 40px 0px 0px 0px;
    margin: 0px 0px 0px 10%;
  }
  footer > .footerWrap > .copyright {
    font-size: 0.9375em;
  }
  footer > .footerWrap > .footerList {
    float: left;
    width: 80%;
  }
  footer > .footerWrap > .footerList > ul {
    margin: 0px;
    padding: 0px;
  }
  footer > .footerWrap > .footerList > ul > a > li {
    margin: 30px 60px 0px 0px;
    clear: both;
  }
  footer > .footerWrap > .footerList > ul > a > li:hover {
    color: #fa6c65;
    font-weight: bolder;
  }
}

.banner {
  width: 100%;
  height: 415px;
  font-size: 6.75em;
  color: white;
  background-image: url("../images/portfolio-bannerbg.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 640px) {
  .banner {
    width: 100%;
    height: 230px;
    display: block;
    font-size: 2.25em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

main {
  width: 100%;
  height: 285px;
}

main > .title {
  width: 40%;
  height: auto;
  text-align: center;
  color: #7B7B7B;
  font-size: 2em;
  margin: 0px auto;
  padding: 85px 0px 20px 0px;
  font-weight: bolder;
  border-bottom: 5px #707070 solid;
  /*  > .line {
            display: block;
            background-color: #707070;
            width: 100%;
            height: 5px;
            margin: 15px 0px 0px 0px;
        } */
}

main > .title > .first {
  width: 80%;
}

main > .title > .second {
  width: 80%;
}

article {
  width: 100%;
  height: auto;
}

article > .row {
  width: 100%;
  height: auto;
  padding: 0px 10% 150px 17%;
  overflow: hidden;
}

article > .row > .works {
  width: 465px;
  height: 480px;
  margin: 0px 0px 50px 85px;
  float: left;
}

article > .row > .works > .wrap {
  width: 100%;
  height: 145px;
  border-left: 1px #707070 solid;
  border-right: 1px #707070 solid;
  border-bottom: 1px #707070 solid;
  padding: 20px 0px 0px 0px;
}

article > .row > .works > .wrap > .title {
  width: 100%;
  height: auto;
  text-align: center;
}

article > .row > .works > .wrap > .title > a {
  color: #616161;
  font-size: 2em;
  text-decoration: none;
}

article > .row > .works > .wrap > .content {
  width: 100%;
  height: auto;
  padding: 30px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article > .row > .works > .wrap > .content > .words {
  width: 152px;
  height: 30px;
  color: #616161;
  font-size: 1.5em;
  text-align: center;
  border-right: 2px #707070 solid;
}

article > .row > .works > .wrap > .content > .words:last-child {
  border-right: none;
}

@media screen and (max-width: 640px) {
  main {
    width: 100%;
    height: 285px;
  }
  main > .title {
    width: 100%;
    height: auto;
    font-size: 16px;
    line-height: 40px;
    margin: 0px 0px 0px 0px;
    padding: 85px 0px 0px 0px;
    font-weight: bolder;
    border-bottom: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main > .title > .first {
    float: left;
    width: 75%;
    border-bottom: 5px #707070 solid;
  }
  main > .title > .second {
    float: left;
    width: 60%;
    border-bottom: 5px #707070 solid;
    margin: 20px 0px 0px 0px;
  }
  article {
    width: 100%;
    height: auto;
  }
  article > .row {
    width: 90%;
    height: auto;
    padding: 0px 0% 150px 10%;
    overflow: hidden;
  }
  article > .row > .works {
    width: 100%;
    height: 480px;
    margin: 0px 0px 50px 0px;
    float: left;
  }
  article > .row > .works > .wrap {
    width: 100%;
    height: 145px;
    border-left: 1px #707070 solid;
    border-right: 1px #707070 solid;
    border-bottom: 1px #707070 solid;
    padding: 20px 0px 0px 0px;
  }
  article > .row > .works > .wrap > .title {
    width: 100%;
    height: auto;
    text-align: center;
  }
  article > .row > .works > .wrap > .title > a {
    color: #616161;
    font-size: 2em;
    text-decoration: none;
  }
  article > .row > .works > .wrap > .content {
    width: 100%;
    height: auto;
    padding: 30px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  article > .row > .works > .wrap > .content > .words {
    width: 152px;
    height: 30px;
    line-height: 30px;
    color: #616161;
    font-size: 1.0625em;
    text-align: center;
    border-right: 2px #707070 solid;
  }
  article > .row > .works > .wrap > .content > .words:last-child {
    border-right: none;
  }
}
/*# sourceMappingURL=portfolio.css.map */