* {
  font-family: "Microsoft YaHei","Heiti TC","sans-serif";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

header {
  width: 100%;
  height: 101px;
}

header > .logo {
  width: 1920px;
  margin: 0 auto;
  padding: 1.2% 0px 0px 0px;
}

header > .logo > img {
  width: 240px;
  margin-left: 160px;
}

header > .logo > .smallmenu {
  display: none;
}

@media screen and (max-width: 640px) {
  header {
    width: 100%;
  }
  header > .logo {
    width: 100%;
    height: inherit;
  }
  header > .logo > img {
    width: 60%;
    margin: 20px 0px 0px 12.6%;
  }
  header > .logo > .smallmenu {
    display: block;
    float: right;
    margin: 18px 4% 0px 0%;
  }
  header > .logo > .smallmenu > img {
    cursor: pointer;
  }
}

nav {
  width: 100%;
  height: 55px;
  background-color: #F9F9F9;
}

nav > .list {
  width: 1920px;
  height: inherit;
  margin: 0 auto;
  padding-left: 160px;
}

nav > .list > ul {
  margin: 0;
  padding: 0;
}

nav > .list > ul > a > li {
  width: 200px;
  line-height: 55px;
  color: #707070;
  text-align: center;
  float: left;
  display: block;
  font-size: 1.25em;
  margin: 0 10px;
}

nav > .list > ul > a > li:hover {
  color: #fa6c65;
  font-weight: bolder;
}

#minimenu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 9999;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#minimenu > #close_btn {
  width: 37px;
  height: 37px;
  margin: 28px 0px 0px 28px;
  display: block;
}

#minimenu > .list {
  width: 70%;
  height: auto;
  margin: 0px 0px 0px 43px;
  padding: 11% 0px 0px 0px;
}

#minimenu > .list > ul > li {
  list-style-type: none;
  padding: 0px 0px 30% 0px;
}

#minimenu > .list > ul > li > a {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 40px;
  padding: 0 30px;
  color: white;
  font-size: 2em;
}

#minimenu > .list > ul > li > a:hover {
  font-size: 2.5em;
}

#minimenu.open {
  left: 0;
}

@media screen and (max-width: 640px) {
  nav {
    display: none;
  }
}

section {
  width: 100%;
  height: 325px;
  background-color: #303538;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

section > .infoWrap {
  width: 1920px;
  height: inherit;
}

section > .infoWrap > .info {
  float: left;
  width: 345px;
  height: auto;
  margin: 65px 0px 0px 176px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section > .infoWrap > .info > .infodata {
  color: white;
  margin: 20px 0px 0px 0px;
  font-size: 1.25em;
}

section > .infoWrap > .info > .infodata:first-child {
  font-weight: bolder;
  font-size: 1.6em;
}

section > .infoWrap > .about {
  float: left;
  width: 486px;
  margin: 65px 0px 0px 95px;
}

section > .infoWrap > .about > .infodata {
  color: white;
  margin: 20px 0px 0px 0px;
  font-size: 1.25em;
}

section > .infoWrap > .about > .infodata:first-child {
  font-weight: bolder;
  font-size: 1.6em;
}

@media screen and (max-width: 640px) {
  section {
    width: 100%;
    height: auto;
    display: block;
  }
  section > .infoWrap {
    width: 100%;
  }
  section > .infoWrap > .info {
    width: 80%;
    height: auto;
    margin: 48px 0px 0px 10%;
  }
  section > .infoWrap > .about {
    width: 80%;
    margin: 65px 0px 45px 10%;
  }
}

footer {
  width: 100%;
  height: 175px;
  background-color: #2D3134;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer > .footerWrap {
  width: 1920px;
  height: inherit;
  padding: 60px 0px 0px 151px;
}

footer > .footerWrap > .copyright {
  color: #fff;
  font-size: 1.25em;
  float: left;
}

footer > .footerWrap > .footerList {
  float: right;
  width: 41%;
  margin: 0px 13.2% 0px 0px;
}

footer > .footerWrap > .footerList > ul > a > li {
  list-style-type: none;
  color: white;
  font-size: 1.25em;
  float: left;
  margin: 0px 60px 0px 0px;
}

footer > .footerWrap > .footerList > ul > a > li:hover {
  color: #fa6c65;
  font-weight: bolder;
}

@media screen and (max-width: 640px) {
  footer {
    width: 100%;
    height: 370px;
    display: block;
  }
  footer > .footerWrap {
    width: 80%;
    height: auto;
    padding: 40px 0px 0px 0px;
    margin: 0px 0px 0px 10%;
  }
  footer > .footerWrap > .copyright {
    font-size: 0.9375em;
  }
  footer > .footerWrap > .footerList {
    float: left;
    width: 80%;
  }
  footer > .footerWrap > .footerList > ul {
    margin: 0px;
    padding: 0px;
  }
  footer > .footerWrap > .footerList > ul > a > li {
    margin: 30px 60px 0px 0px;
    clear: both;
  }
  footer > .footerWrap > .footerList > ul > a > li:hover {
    color: #fa6c65;
    font-weight: bolder;
  }
}

.banner {
  width: 100%;
  height: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background {
  width: 1920px;
  height: 417px;
  background-image: url("../images/banner-customized.png");
  background-size: cover;
}

.banner > .background > h1 {
  color: white;
  font-size: 6.75em;
  margin: 2.3% 0px 0px 36.4%;
}

.banner > .background > .line {
  margin: 55px 0px 0px 0px;
  width: 100%;
  height: 111px;
  background: rgba(249, 249, 249, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background > .line > .btn1 {
  float: left;
  width: 398px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background > .line > .btn1 > a {
  color: #707070;
  font-size: 2em;
  text-decoration: none;
}

.banner > .background > .line > .btn2 {
  float: left;
  width: 398px;
  height: inherit;
  background-color: #9B59B6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background > .line > .btn2 > a {
  color: white;
  font-size: 2em;
  text-decoration: none;
}

.banner > .background > .line > .btn3 {
  float: left;
  width: 398px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background > .line > .btn3 > a {
  color: #707070;
  font-size: 2em;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .banner {
    width: 100%;
    height: 230px;
    display: block;
  }
  .banner > .background {
    width: 100%;
    height: auto;
    padding: 0px 0px 30px 0px;
    background-image: url("../images/banner-customized.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner > .background > h1 {
    color: white;
    font-size: 2.6875em;
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 21.3%;
  }
  .banner > .background > .line {
    margin: 30px 0px 0px 0px;
    width: 100%;
    height: 111px;
    background: rgba(249, 249, 249, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner > .background > .line > .btn1 {
    float: left;
    width: 116px;
    height: 95px;
    margin: 0px 0px 0px 20px;
    padding: 14px 20px 14px 20px;
    border-radius: 25px;
    background-color: #E2DEDB;
    text-align: center;
  }
  .banner > .background > .line > .btn1 > a {
    font-size: 1.2em;
  }
  .banner > .background > .line > .btn2 {
    float: left;
    width: 116px;
    height: 95px;
    border-radius: 25px;
    background-color: #9B59B6;
    margin: 0px 0px 0px 13px;
    padding: 14px 20px 14px 20px;
    text-align: center;
  }
  .banner > .background > .line > .btn2 > a {
    font-size: 1.2em;
  }
  .banner > .background > .line > .btn3 {
    float: left;
    width: 116px;
    height: 95px;
    margin: 0px 20px 0px 13px;
    padding: 14px 20px 14px 20px;
    border-radius: 25px;
    background-color: #E2DEDB;
    text-align: center;
  }
  .banner > .background > .line > .btn3 > a {
    font-size: 1.4em;
  }
}

main {
  width: 100%;
  height: 1000px;
}

main > .title {
  margin: 0px auto;
  width: 1920px;
  height: 113px;
  padding: 60px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .title > .left {
  color: #9B59B6;
  font-size: 2.5em;
}

main > .title > .right {
  color: #848484;
  font-size: 2.5em;
}

main > .subtitle {
  width: 100%;
  color: #848484;
  font-size: 48px;
  margin: 66px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .subtitle > .text {
  font-weight: bold;
  border-bottom: 5px solid #848484;
  padding: 0px 0px 12px 0px;
}

main > .steparea {
  width: 100%;
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .steparea > .stepwrap {
  width: 1920px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .steparea > .stepwrap > .step1 {
  width: 400px;
  height: 270px;
  text-align: center;
  margin: 0px 50px 0px 0px;
}

main > .steparea > .stepwrap > .step1 > img {
  height: 270px;
}

main > .steparea > .stepwrap > .step1 > .text {
  color: #848484;
  font-size: 30px;
  font-weight: bold;
  margin: 75px 0px 0px 0px;
}

main > .steparea > .stepwrap > .step2 {
  width: 400px;
  height: 270px;
  text-align: center;
  margin: 0px 75px 0px 0px;
}

main > .steparea > .stepwrap > .step2 > img {
  height: 270px;
}

main > .steparea > .stepwrap > .step2 > .text {
  color: #848484;
  font-size: 30px;
  font-weight: bold;
  margin: 75px 0px 0px 0px;
}

main > .steparea > .stepwrap > .step3 {
  width: 400px;
  height: 270px;
  text-align: center;
  margin: 0px 160px 0px 0px;
}

main > .steparea > .stepwrap > .step3 > img {
  height: 270px;
}

main > .steparea > .stepwrap > .step3 > .text {
  width: 500px;
  color: #848484;
  font-size: 30px;
  font-weight: bold;
  margin: 75px 0px 0px 0px;
}

main > .steparea > .stepwrap > .step4 {
  width: 400px;
  height: 270px;
  text-align: center;
}

main > .steparea > .stepwrap > .step4 > img {
  height: 270px;
}

main > .steparea > .stepwrap > .step4 > .text {
  color: #848484;
  font-size: 30px;
  font-weight: bold;
  margin: 75px 0px 0px 0px;
}

@media screen and (max-width: 640px) {
  main {
    width: 100%;
    height: auto;
  }
  main > .title {
    width: 100%;
    display: block;
  }
  main > .title > .left {
    width: 100%;
    color: #9B59B6;
    font-size: 2.5em;
    text-align: center;
    margin: 0px 0px 16px 0px;
  }
  main > .title > .left > .line {
    display: none;
  }
  main > .title > .right {
    width: 100%;
    color: #848484;
    font-size: 1.5em;
    text-align: center;
  }
  main > .subtitle {
    width: 100%;
    color: #848484;
    font-size: 0.7em;
    margin: 66px 0px 60px 0px;
    display: block;
  }
  main > .subtitle > .text {
    width: 90%;
    font-weight: bold;
    border-bottom: 3px #848484 solid;
    margin: 0px auto;
    padding: 0px 0px 6px 0px;
    text-align: center;
  }
  main > .steparea {
    width: 100%;
    height: auto;
    display: block;
  }
  main > .steparea > .stepwrap {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main > .steparea > .stepwrap > .step1 {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0px 0px 90px 0px;
  }
  main > .steparea > .stepwrap > .step1 > img {
    width: 80%;
  }
  main > .steparea > .stepwrap > .step1 > .text {
    color: #848484;
    font-size: 30px;
    font-weight: bold;
    margin: 43px 0px 0px 0px;
  }
  main > .steparea > .stepwrap > .step2 {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0px 0px 90px 0px;
  }
  main > .steparea > .stepwrap > .step2 > img {
    width: 80%;
  }
  main > .steparea > .stepwrap > .step2 > .text {
    color: #848484;
    font-size: 1.875em;
    font-weight: bold;
    margin: 43px 0px 0px 0px;
  }
  main > .steparea > .stepwrap > .step3 {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0px 0px 90px 0px;
  }
  main > .steparea > .stepwrap > .step3 > img {
    width: 80%;
  }
  main > .steparea > .stepwrap > .step3 > .text {
    width: 100%;
    color: #848484;
    font-size: 1.875em;
    font-weight: bold;
    margin: 43px 0px 0px 0px;
  }
  main > .steparea > .stepwrap > .step4 {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0px 0px 70px 0px;
  }
  main > .steparea > .stepwrap > .step4 > img {
    width: 80%;
  }
  main > .steparea > .stepwrap > .step4 > .text {
    width: 100%;
    font-size: 1.875em;
    margin: 43px 0px 0px 0px;
  }
}

aside {
  width: 100%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-image: url("../images/suggest-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}

aside > .asideWrap {
  width: 1920px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside > .asideWrap > .suggestbg {
  width: 85.4%;
  height: 690px;
  background: rgba(48, 53, 56, 0.6);
  overflow: hidden;
}

aside > .asideWrap > .suggestbg > .title {
  width: 100%;
  height: auto;
  color: white;
  font-size: 3.625em;
  font-weight: bold;
  text-align: center;
  padding: 30px 0px;
}

aside > .asideWrap > .suggestbg > .suggestLeft {
  width: 21.9%;
  height: 328px;
  margin: 108px 0px 0px 115px;
  float: left;
  background-image: url("../images/suggest-left.png");
  background-repeat: no-repeat;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside > .asideWrap > .suggestbg > .suggestLeft > .text {
  font-size: 1.5em;
  color: white;
}

aside > .asideWrap > .suggestbg > .suggestMid {
  width: 25.6%;
  height: 455px;
  margin: 50px 0px 0px 140px;
  float: left;
  background-image: url("../images/suggest-mid.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside > .asideWrap > .suggestbg > .suggestMid > .text {
  font-size: 2em;
  color: white;
}

aside > .asideWrap > .suggestbg > .suggestRight {
  width: 23.5%;
  height: 351px;
  margin: 110px 0px 0px 130px;
  float: left;
  background-image: url("../images/suggest-right.png");
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside > .asideWrap > .suggestbg > .suggestRight > .text {
  font-size: 1.5em;
  color: white;
}

@media screen and (max-width: 640px) {
  aside {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: url("../images/suggest-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  aside > .asideWrap {
    width: 82.76699%;
    padding: 55px 0px 45px 0px;
    display: block;
  }
  aside > .asideWrap > .suggestbg {
    width: 100%;
    height: auto;
    background: rgba(48, 53, 56, 0.6);
    overflow: hidden;
    padding: 0px 21px 30px 21px;
  }
  aside > .asideWrap > .suggestbg > .title {
    padding: 35px 25px 0px 25px;
    font-size: 2.5em;
  }
  aside > .asideWrap > .suggestbg > .suggestLeft {
    width: 100%;
    height: 335px;
    margin: 0px 0px 30px 0px;
    background-image: url("../images/suggest-left.png");
    background-position: center;
    background-size: contain;
  }
  aside > .asideWrap > .suggestbg > .suggestLeft > .text {
    font-size: 1.3em;
    color: white;
  }
  aside > .asideWrap > .suggestbg > .suggestMid {
    width: 100%;
    height: 347px;
    margin: 0px 0px 50px 0px;
    background-image: url("../images/suggest-mid.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  aside > .asideWrap > .suggestbg > .suggestMid > .text {
    font-size: 1.3em;
    color: white;
  }
  aside > .asideWrap > .suggestbg > .suggestRight {
    width: 100%;
    height: 275px;
    margin: 0px 0px 0px 0px;
    background-image: url("../images/suggest-right.png");
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }
  aside > .asideWrap > .suggestbg > .suggestRight > .text {
    font-size: 1.3em;
    color: white;
  }
}

article {
  width: 100%;
  height: 1050px;
}

article > .title {
  margin: 0px auto;
  width: 1920px;
  height: 112px;
  padding: 117px 0px 77px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article > .title > .left {
  color: #9B59B6;
  font-size: 2.5em;
}

article > .title > .right {
  color: #848484;
  font-size: 2.5em;
}

article > .detail {
  width: 1295px;
  height: 975px;
  margin: 0 auto;
}

article > .detail > .lefttop {
  float: left;
  margin: 111px 0px 0px 0px;
  padding: 17px 0px 0px 40px;
  background-image: url("../images/point1.png");
  background-repeat: no-repeat;
  width: 36%;
  height: 279px;
}

article > .detail > .lefttop > .headline {
  color: #F2644F;
  font-size: 3.875em;
}

article > .detail > .lefttop > .text {
  width: 85%;
  margin: 25px 0px 0px 0px;
  color: #848484;
  font-size: 1.75em;
}

article > .detail > .leftfoot {
  float: left;
  clear: both;
  margin: 55px 0px 0px 0px;
  padding: 17px 0px 0px 40px;
  background-image: url("../images/point2.png");
  background-repeat: no-repeat;
  width: 36%;
  height: 279px;
}

article > .detail > .leftfoot > .headline {
  color: #00A04B;
  font-size: 3.875em;
}

article > .detail > .leftfoot > .text {
  width: 85%;
  margin: 25px 0px 0px 0px;
  color: #848484;
  font-size: 1.75em;
}

article > .detail > .mid {
  float: left;
  background-image: url("../images/pointmid.png");
  background-repeat: no-repeat;
  background-size: contain;
  width: 26.3%;
  height: 715px;
  margin: -250px 0px 0px 0px;
}

article > .detail > .righttop {
  float: right;
  margin: -282px 0px 0px 0px;
  padding: 17px 0px 0px 115px;
  background-image: url("../images/point3.png");
  background-repeat: no-repeat;
  width: 36%;
  height: 279px;
}

article > .detail > .righttop > .headline {
  color: #0086C9;
  font-size: 3.875em;
}

article > .detail > .righttop > .text {
  width: 85%;
  margin: 25px 0px 0px 0px;
  color: #848484;
  font-size: 1.75em;
}

article > .detail > .rightfoot {
  float: right;
  margin: 55px 0px 0px 0px;
  padding: 17px 0px 0px 120px;
  background-image: url("../images/point4.png");
  background-repeat: no-repeat;
  width: 36%;
  height: 279px;
}

article > .detail > .rightfoot > .headline {
  color: #E08F33;
  font-size: 3.875em;
}

article > .detail > .rightfoot > .text {
  width: 85%;
  margin: 15px 0px 0px 0px;
  color: #848484;
  font-size: 1.75em;
}

@media screen and (max-width: 640px) {
  article > .title {
    margin: 0px auto;
    width: 100%;
    height: auto;
    padding: 60px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article > .title > .left {
    width: 100%;
    color: #9B59B6;
    font-size: 1.75em;
    text-align: center;
    margin: 0px 0px 25px 0px;
  }
  article > .title > .left > .line {
    display: none;
  }
  article > .title > .right {
    width: 100%;
    color: #848484;
    font-size: 1.2em;
    text-align: center;
  }
  article > .detail {
    width: 90%;
    height: auto;
  }
  article > .detail > .lefttop {
    float: left;
    margin: 46px 0px 40px 0px;
    padding: 15px 0px 0px 30px;
    background-size: contain;
    width: 95%;
    height: 209px;
  }
  article > .detail > .lefttop > .headline {
    font-size: 2.75em;
  }
  article > .detail > .lefttop > .text {
    width: 80%;
    margin: 25px 0px 0px 0px;
    font-size: 1.25em;
  }
  article > .detail > .leftfoot {
    float: left;
    clear: both;
    margin: 0px 0px 40px 0px;
    padding: 17px 0px 0px 40px;
    background-size: contain;
    width: 90%;
    height: 209px;
  }
  article > .detail > .leftfoot > .headline {
    font-size: 2.75em;
  }
  article > .detail > .leftfoot > .text {
    width: 80%;
    margin: 10px 0px 0px 0px;
    font-size: 1.25em;
  }
  article > .detail > .mid {
    float: right;
    width: 95%;
    height: 680px;
    margin: 0px 0px 0px 0px;
  }
  article > .detail > .righttop {
    float: right;
    margin: 0px 0px 60px 0px;
    padding: 17px 0px 0px 90px;
    background-size: contain;
    width: 100%;
    height: 201px;
  }
  article > .detail > .righttop > .headline {
    font-size: 2.75em;
  }
  article > .detail > .righttop > .text {
    width: 85%;
    margin: 25px 0px 0px 0px;
    font-size: 1.25em;
  }
  article > .detail > .rightfoot {
    float: right;
    margin: 0px 0px 0px 0px;
    padding: 17px 0px 0px 75px;
    background-size: contain;
    width: 100%;
    height: 285px;
  }
  article > .detail > .rightfoot > .headline {
    font-size: 2.75em;
  }
  article > .detail > .rightfoot > .text {
    width: 90%;
    margin: 15px 0px 0px 0px;
    font-size: 1.25em;
  }
}
/*# sourceMappingURL=semi-customized.css.map */