* {
  font-family: "Microsoft YaHei","Heiti TC","sans-serif";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

header {
  width: 100%;
  height: 101px;
}

header > .logo {
  width: 1920px;
  margin: 0 auto;
  padding: 1.2% 0px 0px 0px;
}

header > .logo > img {
  width: 240px;
  margin-left: 160px;
}

header > .logo > .smallmenu {
  display: none;
}

@media screen and (max-width: 640px) {
  header {
    width: 100%;
  }
  header > .logo {
    width: 100%;
    height: inherit;
  }
  header > .logo > img {
    width: 60%;
    margin: 20px 0px 0px 12.6%;
  }
  header > .logo > .smallmenu {
    display: block;
    float: right;
    margin: 18px 4% 0px 0%;
  }
  header > .logo > .smallmenu > img {
    cursor: pointer;
  }
}

nav {
  width: 100%;
  height: 55px;
  background-color: #F9F9F9;
}

nav > .list {
  width: 1920px;
  height: inherit;
  margin: 0 auto;
  padding-left: 160px;
}

nav > .list > ul {
  margin: 0;
  padding: 0;
}

nav > .list > ul > a > li {
  width: 200px;
  line-height: 55px;
  color: #707070;
  text-align: center;
  float: left;
  display: block;
  font-size: 1.25em;
  margin: 0 10px;
}

nav > .list > ul > a > li:hover {
  color: #fa6c65;
  font-weight: bolder;
}

#minimenu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 9999;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#minimenu > #close_btn {
  width: 37px;
  height: 37px;
  margin: 28px 0px 0px 28px;
  display: block;
}

#minimenu > .list {
  width: 70%;
  height: auto;
  margin: 0px 0px 0px 43px;
  padding: 11% 0px 0px 0px;
}

#minimenu > .list > ul > li {
  list-style-type: none;
  padding: 0px 0px 30% 0px;
}

#minimenu > .list > ul > li > a {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 40px;
  padding: 0 30px;
  color: white;
  font-size: 2em;
}

#minimenu > .list > ul > li > a:hover {
  font-size: 2.5em;
}

#minimenu.open {
  left: 0;
}

@media screen and (max-width: 640px) {
  nav {
    display: none;
  }
}

.banner {
  width: 100%;
  height: 420px;
  background-color: #567887;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > img {
  width: 1920px;
}

@media screen and (max-width: 640px) {
  .banner {
    width: 100%;
    height: auto;
    background-color: #567887;
  }
  .banner > img {
    width: 100%;
  }
}

article {
  width: 100%;
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article > .content {
  width: 1560px;
  height: 360px;
}

article > .content > h1 {
  text-align: center;
  margin: 0px 0px 0px 0px;
  font-size: 58px;
  color: #616161;
}

article > .content > .areaWrap {
  width: 100%;
  height: 218px;
  margin: 66px 0px 0px 0px;
}

article > .content > .areaWrap > .areaLeft {
  width: 33.3%;
  float: left;
}

article > .content > .areaWrap > .areaLeft > img {
  float: left;
  margin: 25px 0px 0px 0px;
}

article > .content > .areaWrap > .areaLeft > .text {
  width: 70%;
  float: right;
}

article > .content > .areaWrap > .areaLeft > .text > .title {
  font-size: 52px;
  font-weight: bolder;
  color: #616161;
  margin: 0px 0px 30px 0px;
}

article > .content > .areaWrap > .areaLeft > .text > .main {
  font-size: 26px;
  color: #616161;
}

article > .content > .areaWrap > .areaMid {
  width: 33.3%;
  float: left;
}

article > .content > .areaWrap > .areaMid > img {
  float: left;
  margin: 25px 0px 0px 0px;
}

article > .content > .areaWrap > .areaMid > .text {
  width: 70%;
  float: right;
}

article > .content > .areaWrap > .areaMid > .text > .title {
  font-size: 52px;
  font-weight: bolder;
  color: #616161;
  margin: 0px 0px 30px 0px;
}

article > .content > .areaWrap > .areaMid > .text > .main {
  font-size: 26px;
  color: #616161;
}

article > .content > .areaWrap > .areaRight {
  width: 33.3%;
  float: left;
}

article > .content > .areaWrap > .areaRight > img {
  float: left;
  margin: 25px 0px 0px 0px;
}

article > .content > .areaWrap > .areaRight > .text {
  width: 70%;
  float: right;
}

article > .content > .areaWrap > .areaRight > .text > .title {
  font-size: 52px;
  font-weight: bolder;
  color: #616161;
  margin: 0px 0px 30px 0px;
}

article > .content > .areaWrap > .areaRight > .text > .main {
  font-size: 26px;
  color: #616161;
}

@media screen and (max-width: 640px) {
  article {
    width: 100%;
  }
  article > .content {
    width: 85%;
    margin: -100px 0px 0px 0px;
  }
  article > .content > .areaWrap {
    height: 250px;
  }
  article > .content > .areaWrap > .areaLeft {
    width: 100%;
    float: left;
  }
  article > .content > .areaWrap > .areaLeft > img {
    float: left;
    margin: 37px 0px 0px 0px;
    width: 85px;
  }
  article > .content > .areaWrap > .areaLeft > .text {
    width: 70%;
  }
  article > .content > .areaWrap > .areaLeft > .text > .title {
    width: 80%;
    float: right;
    font-size: 2.1em;
    font-weight: bolder;
    color: #616161;
    margin: 0px 0px 16px 0px;
    padding: 0px 15px 0px 0px;
  }
  article > .content > .areaWrap > .areaLeft > .text > .main {
    width: 90%;
    float: right;
    font-size: 26px;
    color: #616161;
  }
  article > .content > .areaWrap > .areaMid {
    width: 100%;
    float: left;
    clear: both;
    margin: 33px 0px 0px 0px;
  }
  article > .content > .areaWrap > .areaMid > img {
    float: left;
    margin: 37px 0px 0px 0px;
    width: 85px;
  }
  article > .content > .areaWrap > .areaMid > .text {
    width: 70%;
  }
  article > .content > .areaWrap > .areaMid > .text > .title {
    width: 80%;
    float: right;
    font-size: 2.1em;
    font-weight: bolder;
    color: #616161;
    margin: 0px 0px 16px 0px;
    padding: 0px 15px 0px 0px;
  }
  article > .content > .areaWrap > .areaMid > .text > .main {
    width: 90%;
    float: right;
    font-size: 26px;
    color: #616161;
  }
  article > .content > .areaWrap > .areaRight {
    width: 100%;
    float: left;
    margin: 33px 0px 72px 0px;
  }
  article > .content > .areaWrap > .areaRight > img {
    float: left;
    margin: 37px 0px 0px 0px;
    width: 85px;
  }
  article > .content > .areaWrap > .areaRight > .text {
    width: 70%;
  }
  article > .content > .areaWrap > .areaRight > .text > .title {
    width: 80%;
    float: right;
    font-size: 2.1em;
    font-weight: bolder;
    color: #616161;
    margin: 0px 0px 16px 0px;
    padding: 0px 15px 0px 0px;
  }
  article > .content > .areaWrap > .areaRight > .text > .main {
    width: 90%;
    float: right;
    font-size: 26px;
    color: #616161;
  }
}

main {
  width: 100%;
  height: 650px;
  background-image: url("../images/about-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .mainWrap {
  width: 960px;
  height: 380px;
}

main > .mainWrap > h2 {
  color: #FFF;
  font-size: 3.625em;
  text-align: center;
}

main > .mainWrap > p {
  color: #FFF;
  font-size: 2.375em;
}

@media screen and (max-width: 640px) {
  main {
    margin: 100% 0px 0px 0px;
    height: 404px;
  }
  main > .mainWrap {
    width: 100%;
    height: 380px;
  }
  main > .mainWrap > h2 {
    font-size: 1.875em;
  }
  main > .mainWrap > p {
    padding: 30px;
    font-size: 1.25em;
  }
}

aside {
  width: 100%;
  height: 815px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside > .asideWrap {
  width: 1560px;
  height: 615px;
  margin: 0px 0px 120px 0px;
}

aside > .asideWrap > h3 {
  font-size: 3.625em;
  color: #616161;
  text-align: center;
}

aside > .asideWrap > .projectWrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-bottom: 120px;
}

aside > .asideWrap > .projectWrap > .project {
  height: 490px;
}

aside > .asideWrap > .projectWrap > .project > image {
  background-color: orange;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 348px;
}

aside > .asideWrap > .projectWrap > .project > .textWrap {
  width: 99.5%;
  height: 145px;
  border-right: 1px #707070 solid;
  border-left: 1px #707070 solid;
  border-bottom: 1px #707070 solid;
}

aside > .asideWrap > .projectWrap > .project > .textWrap > .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

aside > .asideWrap > .projectWrap > .project > .textWrap > .title > .text {
  font-size: 1.5em;
  float: left;
  margin-top: 20px;
  padding: 0px 25px 0px 25px;
  border-right: 2px #707070 solid;
}

aside > .asideWrap > .projectWrap > .project > .textWrap > .title > .text:last-child {
  border-right: none;
}

aside > .asideWrap > .projectWrap > .project > .textWrap > a {
  text-decoration: none;
  text-align: center;
  display: block;
  padding: 27px 0px 0px 0px;
}

aside > .asideWrap > .projectWrap > .project > .textWrap > a > h5 {
  margin: 0px;
  padding: 0px;
  color: #616161;
  font-size: 2em;
}

aside > .asideWrap > .projectWrap > .project > .textWrap > a > h5:hover {
  color: #fa6c65;
}

@media screen and (max-width: 640px) {
  aside {
    width: 100%;
    height: auto;
    display: block;
  }
  aside > .asideWrap {
    width: 100%;
    height: auto;
  }
  aside > .asideWrap > .projectWrap {
    width: 100%;
    display: block;
  }
  aside > .asideWrap > .projectWrap > .project {
    height: 490px;
    margin-bottom: 75px;
    padding: 0px 8.4% 0px 8.4%;
  }
  aside > .asideWrap > .projectWrap > .project > a > .projectimg {
    width: 100%;
    height: 348px;
    margin: 0px;
    padding: 0px;
  }
  aside > .asideWrap > .projectWrap > .project > .textWrap > .title > .text {
    font-size: 1.0625em;
    height: 22px;
    padding: 0px 15px 0px 15px;
  }
  aside > .asideWrap > .projectWrap > .project > .textWrap > a {
    text-decoration: none;
    text-align: center;
    display: block;
    padding: 27px 0px 0px 0px;
  }
  aside > .asideWrap > .projectWrap > .project > .textWrap > a > h5 {
    font-size: 1.5em;
  }
}

section {
  width: 100%;
  height: 325px;
  background-color: #303538;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

section > .infoWrap {
  width: 1920px;
  height: inherit;
}

section > .infoWrap > .info {
  float: left;
  width: 345px;
  height: auto;
  margin: 65px 0px 0px 176px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section > .infoWrap > .info > .infodata {
  color: white;
  margin: 20px 0px 0px 0px;
  font-size: 1.25em;
}

section > .infoWrap > .info > .infodata:first-child {
  font-weight: bolder;
  font-size: 1.6em;
}

section > .infoWrap > .about {
  float: left;
  width: 486px;
  margin: 65px 0px 0px 95px;
}

section > .infoWrap > .about > .infodata {
  color: white;
  margin: 20px 0px 0px 0px;
  font-size: 1.25em;
}

section > .infoWrap > .about > .infodata:first-child {
  font-weight: bolder;
  font-size: 1.6em;
}

@media screen and (max-width: 640px) {
  section {
    width: 100%;
    height: auto;
    display: block;
  }
  section > .infoWrap {
    width: 100%;
  }
  section > .infoWrap > .info {
    width: 80%;
    height: auto;
    margin: 48px 0px 0px 10%;
  }
  section > .infoWrap > .about {
    width: 80%;
    margin: 65px 0px 45px 10%;
  }
}

footer {
  width: 100%;
  height: 175px;
  background-color: #2D3134;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer > .footerWrap {
  width: 1920px;
  height: inherit;
  padding: 60px 0px 0px 151px;
}

footer > .footerWrap > .copyright {
  color: #fff;
  font-size: 1.25em;
  float: left;
}

footer > .footerWrap > .footerList {
  float: right;
  width: 41%;
  margin: 0px 13.2% 0px 0px;
}

footer > .footerWrap > .footerList > ul > a > li {
  list-style-type: none;
  color: white;
  font-size: 1.25em;
  float: left;
  margin: 0px 60px 0px 0px;
}

footer > .footerWrap > .footerList > ul > a > li:hover {
  color: #fa6c65;
  font-weight: bolder;
}

@media screen and (max-width: 640px) {
  footer {
    width: 100%;
    height: 370px;
    display: block;
  }
  footer > .footerWrap {
    width: 80%;
    height: auto;
    padding: 40px 0px 0px 0px;
    margin: 0px 0px 0px 10%;
  }
  footer > .footerWrap > .copyright {
    font-size: 0.9375em;
  }
  footer > .footerWrap > .footerList {
    float: left;
    width: 80%;
  }
  footer > .footerWrap > .footerList > ul {
    margin: 0px;
    padding: 0px;
  }
  footer > .footerWrap > .footerList > ul > a > li {
    margin: 30px 60px 0px 0px;
    clear: both;
  }
  footer > .footerWrap > .footerList > ul > a > li:hover {
    color: #fa6c65;
    font-weight: bolder;
  }
}
/*# sourceMappingURL=style.css.map */