* {
  font-family: "Microsoft YaHei","Heiti TC","sans-serif";
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.hidden {
  display: none;
}

header {
  width: 100%;
  height: 101px;
}

header > .logo {
  width: 1920px;
  margin: 0 auto;
  padding: 1.2% 0px 0px 0px;
}

header > .logo > img {
  width: 240px;
  margin-left: 160px;
}

header > .logo > .smallmenu {
  display: none;
}

@media screen and (max-width: 640px) {
  header {
    width: 100%;
  }
  header > .logo {
    width: 100%;
    height: inherit;
  }
  header > .logo > img {
    width: 60%;
    margin: 20px 0px 0px 12.6%;
  }
  header > .logo > .smallmenu {
    display: block;
    float: right;
    margin: 18px 4% 0px 0%;
  }
  header > .logo > .smallmenu > img {
    cursor: pointer;
  }
}

nav {
  width: 100%;
  height: 55px;
  background-color: #F9F9F9;
}

nav > .list {
  width: 1920px;
  height: inherit;
  margin: 0 auto;
  padding-left: 160px;
}

nav > .list > ul {
  margin: 0;
  padding: 0;
}

nav > .list > ul > a > li {
  width: 200px;
  line-height: 55px;
  color: #707070;
  text-align: center;
  float: left;
  display: block;
  font-size: 1.25em;
  margin: 0 10px;
}

nav > .list > ul > a > li:hover {
  color: #fa6c65;
  font-weight: bolder;
}

#minimenu {
  position: fixed;
  top: 0;
  left: 100%;
  width: 100%;
  height: 100%;
  background-color: #333;
  z-index: 9999;
  -webkit-transition: all .3s;
  transition: all .3s;
}

#minimenu > #close_btn {
  width: 37px;
  height: 37px;
  margin: 28px 0px 0px 28px;
  display: block;
}

#minimenu > .list {
  width: 70%;
  height: auto;
  margin: 0px 0px 0px 43px;
  padding: 11% 0px 0px 0px;
}

#minimenu > .list > ul > li {
  list-style-type: none;
  padding: 0px 0px 30% 0px;
}

#minimenu > .list > ul > li > a {
  text-decoration: none;
  -webkit-transition: all .3s;
  transition: all .3s;
  line-height: 40px;
  padding: 0 30px;
  color: white;
  font-size: 2em;
}

#minimenu > .list > ul > li > a:hover {
  font-size: 2.5em;
}

#minimenu.open {
  left: 0;
}

@media screen and (max-width: 640px) {
  nav {
    display: none;
  }
}

section {
  width: 100%;
  height: 325px;
  background-color: #303538;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}

section > .infoWrap {
  width: 1920px;
  height: inherit;
}

section > .infoWrap > .info {
  float: left;
  width: 345px;
  height: auto;
  margin: 65px 0px 0px 176px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section > .infoWrap > .info > .infodata {
  color: white;
  margin: 20px 0px 0px 0px;
  font-size: 1.25em;
}

section > .infoWrap > .info > .infodata:first-child {
  font-weight: bolder;
  font-size: 1.6em;
}

section > .infoWrap > .about {
  float: left;
  width: 486px;
  margin: 65px 0px 0px 95px;
}

section > .infoWrap > .about > .infodata {
  color: white;
  margin: 20px 0px 0px 0px;
  font-size: 1.25em;
}

section > .infoWrap > .about > .infodata:first-child {
  font-weight: bolder;
  font-size: 1.6em;
}

@media screen and (max-width: 640px) {
  section {
    width: 100%;
    height: auto;
    display: block;
  }
  section > .infoWrap {
    width: 100%;
  }
  section > .infoWrap > .info {
    width: 80%;
    height: auto;
    margin: 48px 0px 0px 10%;
  }
  section > .infoWrap > .about {
    width: 80%;
    margin: 65px 0px 45px 10%;
  }
}

footer {
  width: 100%;
  height: 175px;
  background-color: #2D3134;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer > .footerWrap {
  width: 1920px;
  height: inherit;
  padding: 60px 0px 0px 151px;
}

footer > .footerWrap > .copyright {
  color: #fff;
  font-size: 1.25em;
  float: left;
}

footer > .footerWrap > .footerList {
  float: right;
  width: 41%;
  margin: 0px 13.2% 0px 0px;
}

footer > .footerWrap > .footerList > ul > a > li {
  list-style-type: none;
  color: white;
  font-size: 1.25em;
  float: left;
  margin: 0px 60px 0px 0px;
}

footer > .footerWrap > .footerList > ul > a > li:hover {
  color: #fa6c65;
  font-weight: bolder;
}

@media screen and (max-width: 640px) {
  footer {
    width: 100%;
    height: 370px;
    display: block;
  }
  footer > .footerWrap {
    width: 80%;
    height: auto;
    padding: 40px 0px 0px 0px;
    margin: 0px 0px 0px 10%;
  }
  footer > .footerWrap > .copyright {
    font-size: 0.9375em;
  }
  footer > .footerWrap > .footerList {
    float: left;
    width: 80%;
  }
  footer > .footerWrap > .footerList > ul {
    margin: 0px;
    padding: 0px;
  }
  footer > .footerWrap > .footerList > ul > a > li {
    margin: 30px 60px 0px 0px;
    clear: both;
  }
  footer > .footerWrap > .footerList > ul > a > li:hover {
    color: #fa6c65;
    font-weight: bolder;
  }
}

.banner {
  width: 100%;
  height: 415px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background {
  width: 1920px;
  height: 417px;
  background-image: url("../images/banner-customized.png");
  background-size: cover;
}

.banner > .background > h1 {
  color: white;
  font-size: 6.75em;
  margin: 2.3% 0px 0px 36.4%;
}

.banner > .background > .line {
  margin: 55px 0px 0px 0px;
  width: 100%;
  height: 111px;
  background: rgba(249, 249, 249, 0.6);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background > .line > .btn1 {
  float: left;
  width: 398px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background > .line > .btn1 > a {
  color: #707070;
  font-size: 2em;
  text-decoration: none;
}

.banner > .background > .line > .btn2 {
  float: left;
  width: 398px;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background > .line > .btn2 > a {
  color: #707070;
  font-size: 2em;
  text-decoration: none;
}

.banner > .background > .line > .btn3 {
  float: left;
  width: 398px;
  height: inherit;
  background-color: #9B59B6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner > .background > .line > .btn3 > a {
  color: white;
  font-size: 2em;
  text-decoration: none;
}

@media screen and (max-width: 640px) {
  .banner {
    width: 100%;
    height: 230px;
    display: block;
  }
  .banner > .background {
    width: 100%;
    height: auto;
    padding: 0px 0px 30px 0px;
    background-image: url("../images/banner-customized.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .banner > .background > h1 {
    color: white;
    font-size: 2.6875em;
    margin: 0px 0px 0px 0px;
    padding: 20px 0px 0px 21.3%;
  }
  .banner > .background > .line {
    margin: 30px 0px 0px 0px;
    width: 100%;
    height: 111px;
    background: rgba(249, 249, 249, 0);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner > .background > .line > .btn1 {
    float: left;
    width: 116px;
    height: 95px;
    margin: 0px 0px 0px 20px;
    padding: 14px 20px 14px 20px;
    border-radius: 25px;
    background-color: #E2DEDB;
    text-align: center;
  }
  .banner > .background > .line > .btn1 > a {
    font-size: 1.2em;
  }
  .banner > .background > .line > .btn2 {
    float: left;
    width: 116px;
    height: 95px;
    border-radius: 25px;
    background-color: #E2DEDB;
    margin: 0px 0px 0px 13px;
    padding: 14px 20px 14px 20px;
    text-align: center;
  }
  .banner > .background > .line > .btn2 > a {
    font-size: 1.2em;
  }
  .banner > .background > .line > .btn3 {
    float: left;
    width: 116px;
    height: 95px;
    margin: 0px 20px 0px 13px;
    padding: 14px 20px 14px 20px;
    border-radius: 25px;
    background-color: #9B59B6;
    text-align: center;
  }
  .banner > .background > .line > .btn3 > a {
    font-size: 1.4em;
  }
}

main {
  width: 100%;
  height: 1000px;
}

main > .title {
  margin: 0px auto;
  width: 1920px;
  height: 113px;
  padding: 60px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .title > .left {
  color: #9B59B6;
  font-size: 2.5em;
}

main > .title > .right {
  color: #848484;
  font-size: 2.5em;
}

main > .subtitle {
  width: 100%;
  color: #848484;
  font-size: 48px;
  margin: 66px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .subtitle > .text {
  font-weight: bold;
  border-bottom: 5px solid #848484;
  padding: 0px 0px 12px 0px;
}

main > .steparea {
  width: 100%;
  height: 570px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .steparea > .stepwrap {
  width: 1920px;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main > .steparea > .stepwrap > .step1 {
  width: 400px;
  height: 270px;
  text-align: center;
  margin: 0px 50px 0px 0px;
}

main > .steparea > .stepwrap > .step1 > img {
  height: 270px;
}

main > .steparea > .stepwrap > .step1 > .text {
  color: #848484;
  font-size: 30px;
  font-weight: bold;
  margin: 75px 0px 0px 0px;
}

main > .steparea > .stepwrap > .step2 {
  width: 400px;
  height: 270px;
  text-align: center;
  margin: 0px 75px 0px 0px;
}

main > .steparea > .stepwrap > .step2 > img {
  height: 270px;
}

main > .steparea > .stepwrap > .step2 > .text {
  color: #848484;
  font-size: 30px;
  font-weight: bold;
  margin: 75px 0px 0px 0px;
}

main > .steparea > .stepwrap > .step3 {
  width: 400px;
  height: 270px;
  text-align: center;
  margin: 0px 160px 0px 0px;
}

main > .steparea > .stepwrap > .step3 > img {
  height: 270px;
}

main > .steparea > .stepwrap > .step3 > .text {
  width: 500px;
  color: #848484;
  font-size: 30px;
  font-weight: bold;
  margin: 75px 0px 0px 0px;
}

main > .steparea > .stepwrap > .step4 {
  width: 400px;
  height: 270px;
  text-align: center;
}

main > .steparea > .stepwrap > .step4 > img {
  height: 270px;
}

main > .steparea > .stepwrap > .step4 > .text {
  color: #848484;
  font-size: 30px;
  font-weight: bold;
  margin: 75px 0px 0px 0px;
}

@media screen and (max-width: 640px) {
  main {
    width: 100%;
    height: auto;
  }
  main > .title {
    width: 100%;
    display: block;
  }
  main > .title > .left {
    width: 100%;
    color: #9B59B6;
    font-size: 2.5em;
    text-align: center;
    margin: 0px 0px 16px 0px;
  }
  main > .title > .left > .line {
    display: none;
  }
  main > .title > .right {
    width: 100%;
    color: #848484;
    font-size: 1.5em;
    text-align: center;
  }
  main > .subtitle {
    width: 100%;
    color: #848484;
    font-size: 0.875em;
    margin: 66px 0px 60px 0px;
    display: block;
  }
  main > .subtitle > .text {
    width: 51%;
    font-weight: bold;
    border-bottom: 3px #848484 solid;
    margin: 0px auto;
    padding: 10px 0px 6px 0px;
    text-align: center;
  }
  main > .steparea {
    width: 100%;
    height: auto;
    display: block;
  }
  main > .steparea > .stepwrap {
    width: 100%;
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main > .steparea > .stepwrap > .step1 {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0px 0px 90px 0px;
  }
  main > .steparea > .stepwrap > .step1 > img {
    width: 80%;
  }
  main > .steparea > .stepwrap > .step1 > .text {
    color: #848484;
    font-size: 30px;
    font-weight: bold;
    margin: 43px 0px 0px 0px;
  }
  main > .steparea > .stepwrap > .step2 {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0px 0px 90px 0px;
  }
  main > .steparea > .stepwrap > .step2 > img {
    width: 80%;
  }
  main > .steparea > .stepwrap > .step2 > .text {
    color: #848484;
    font-size: 1.875em;
    font-weight: bold;
    margin: 43px 0px 0px 0px;
  }
  main > .steparea > .stepwrap > .step3 {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0px 0px 90px 0px;
  }
  main > .steparea > .stepwrap > .step3 > img {
    width: 80%;
  }
  main > .steparea > .stepwrap > .step3 > .text {
    width: 100%;
    color: #848484;
    font-size: 1.875em;
    font-weight: bold;
    margin: 43px 0px 0px 0px;
  }
  main > .steparea > .stepwrap > .step4 {
    width: 100%;
    height: auto;
    text-align: center;
    margin: 0px 0px 70px 0px;
  }
  main > .steparea > .stepwrap > .step4 > img {
    width: 80%;
  }
  main > .steparea > .stepwrap > .step4 > .text {
    width: 100%;
    font-size: 1.875em;
    margin: 43px 0px 0px 0px;
  }
}

article {
  width: 100%;
  height: auto;
}

article > .title {
  margin: 0px auto;
  width: 1920px;
  height: 112px;
  padding: 117px 0px 77px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article > .title > .left {
  color: #9B59B6;
  font-size: 2.5em;
}

article > .title > .right {
  color: #848484;
  font-size: 2.5em;
}

article > .detail {
  width: 100%;
  height: auto;
  margin: 235px 0px 280px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

article > .detail > .firstline {
  width: 80%;
  height: 720px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article > .detail > .firstline > .left {
  width: 735px;
  height: 720px;
  background-image: url("../images/template-feature01.png");
  background-size: contain;
  background-repeat: no-repeat;
}

article > .detail > .firstline > .left > .text {
  width: 442px;
  height: 272px;
  font-size: 2.5em;
  margin: 31% 0px 0px 19.8%;
  color: #848484;
  line-height: 1.5em;
}

article > .detail > .firstline > .left > .title {
  width: 100%;
  text-align: right;
  color: white;
  padding: 0px 90px 0px 0px;
  font-size: 3.75em;
}

article > .detail > .firstline > .right {
  width: 735px;
  height: 720px;
  background-image: url("../images/template-feature02.png");
  background-size: contain;
  background-repeat: no-repeat;
}

article > .detail > .firstline > .right > .text {
  width: 442px;
  height: 272px;
  font-size: 2.5em;
  margin: 31% 0px 0px 19.8%;
  color: #848484;
  line-height: 1.5em;
}

article > .detail > .firstline > .right > .title {
  width: 100%;
  text-align: left;
  color: white;
  padding: 0px 0px 0px 60px;
  font-size: 3.75em;
}

article > .detail > .secondline {
  width: 80%;
  height: 720px;
  margin: 55px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

article > .detail > .secondline > .left {
  width: 735px;
  height: 720px;
  background-image: url("../images/template-feature03.png");
  background-size: contain;
  background-repeat: no-repeat;
}

article > .detail > .secondline > .left > .text {
  width: 442px;
  height: 272px;
  font-size: 2.5em;
  margin: 25% 0px 0px 20%;
  color: #848484;
  line-height: 1.5em;
}

article > .detail > .secondline > .left > .title {
  width: 100%;
  height: auto;
  text-align: right;
  color: white;
  padding: 115px 90px 0px 0px;
  font-size: 3.75em;
}

article > .detail > .secondline > .right {
  width: 735px;
  height: 720px;
  background-image: url("../images/template-feature04.png");
  background-size: contain;
  background-repeat: no-repeat;
}

article > .detail > .secondline > .right > .text {
  width: 442px;
  height: 272px;
  font-size: 2.5em;
  margin: 25% 0px 0px 20%;
  color: #848484;
  line-height: 1.5em;
}

article > .detail > .secondline > .right > .title {
  width: 100%;
  height: auto;
  text-align: left;
  color: white;
  padding: 115px 90px 0px 60px;
  font-size: 3.75em;
}

@media screen and (max-width: 640px) {
  article > .title {
    margin: 0px auto;
    width: 100%;
    height: auto;
    padding: 60px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article > .title > .left {
    width: 100%;
    color: #9B59B6;
    font-size: 1.75em;
    text-align: center;
    margin: 0px 0px 25px 0px;
  }
  article > .title > .left > .line {
    display: none;
  }
  article > .title > .right {
    width: 100%;
    color: #848484;
    font-size: 1.2em;
    text-align: center;
  }
  article > .detail {
    width: 100%;
    height: auto;
    margin: 100px 0px 106px 0px;
  }
  article > .detail > .firstline {
    width: 100%;
    height: auto;
    margin: 0px 0px 5% 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article > .detail > .firstline > .left {
    width: 100%;
    height: 400px;
    margin: 0px 0px 5% 0px;
  }
  article > .detail > .firstline > .left > .text {
    width: 70%;
    height: auto;
    font-size: 1.5em;
    margin: 85px 0px 0px 16%;
    color: #848484;
    line-height: 1.5em;
  }
  article > .detail > .firstline > .left > .title {
    width: 100%;
    font-size: 1.625em;
    padding: 80px 15% 0px 0px;
  }
  article > .detail > .firstline > .right {
    width: 100%;
    height: 400px;
  }
  article > .detail > .firstline > .right > .text {
    width: 80%;
    height: auto;
    font-size: 1.5em;
    margin: 25% 0px 0px 15%;
    line-height: 1.5em;
  }
  article > .detail > .firstline > .right > .title {
    width: 100%;
    text-align: left;
    padding: 100px 0px 0px 40px;
    font-size: 1.625em;
  }
  article > .detail > .secondline {
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  article > .detail > .secondline > .left {
    width: 100%;
    height: 400px;
    margin: 0px 0px 5% 0px;
  }
  article > .detail > .secondline > .left > .text {
    width: 80%;
    height: auto;
    font-size: 1.5em;
    margin: 25% 0px 0px 10%;
    line-height: 1.5em;
  }
  article > .detail > .secondline > .left > .title {
    width: 100%;
    height: auto;
    text-align: right;
    padding: 60px 18% 0px 0px;
    font-size: 1.625em;
  }
  article > .detail > .secondline > .right {
    width: 100%;
    height: 400px;
  }
  article > .detail > .secondline > .right > .text {
    width: 80%;
    height: auto;
    font-size: 1.5em;
    line-height: 1.5em;
    margin: 25% 0px 0px 10%;
  }
  article > .detail > .secondline > .right > .title {
    width: 100%;
    height: auto;
    text-align: left;
    padding: 70px 0px 0px 12.6%;
    font-size: 1.625em;
  }
}
/*# sourceMappingURL=template.css.map */