article {
    width: 100%;
    height: auto;
    // background-color: orange;

    > .title {
        margin: 0px auto;
        width: $pcSize;
        height: 52px+60px;
        padding: 117px 0px 77px 0px;
        // background-color: red;

        display: flex;
        align-items: center;
        justify-content: center;

        > .left {
            color: #9B59B6;
            font-size: 2.5em;
        }

        > .right {
            color: #848484;
            font-size: 2.5em;
        }
    } 

    > .detail {
        width: 100%;
        height: auto;
        // background-color: lightgreen;
        
        margin: 235px 0px 280px 0px;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;


        > .firstline {
            width: 80%;
            height: 720px;
            // background-color: lightpink;

            display: flex;
            align-items: center;
            justify-content: center;

            > .left {
                width: 735px;
                height: 720px;
                background-image: url("../images/template-feature01.png");
                background-size: contain;
                background-repeat: no-repeat;
                // background-color:red;

                > .text {
                    width: 442px;
                    height: 272px;
                    font-size: 2.5em;
                    margin: 31% 0px 0px 19.8%;
                    color: #848484;
                    line-height: 1.5em;
                    // background-color:green;
                }

                > .title {
                    width: 100%;
                    text-align: right;
                    color: white;
                    padding: 0px 90px 0px 0px;
                    font-size: 3.75em;
                    // background-color: red;
                }
            }

            > .right {
                width: 735px;
                height: 720px;
                // background-color:yellow;
                background-image: url("../images/template-feature02.png");
                background-size: contain;
                background-repeat: no-repeat;

                > .text {
                    width: 442px;
                    height: 272px;
                    font-size: 2.5em;
                    margin: 31% 0px 0px 19.8%;
                    color: #848484;
                    line-height: 1.5em;
                    // background-color:green;
                }

                > .title {
                    width: 100%;
                    text-align: left;
                    color: white;
                    padding: 0px 0px 0px 60px;
                    font-size: 3.75em;
                    // background-color: red;
                }

            }
        }

        > .secondline {
            width: 80%;
            height: 720px;
            // background-color: orangered;
            margin: 55px 0px 0px 0px;

            display: flex;
            align-items: center;
            justify-content: center;

            > .left {
                width: 735px;
                height: 720px;
                // background-color:yellowgreen;
                background-image: url("../images/template-feature03.png");
                background-size: contain;
                background-repeat: no-repeat;

                > .text {
                    width: 442px;
                    height: 272px;
                    font-size: 2.5em;
                    margin: 25% 0px 0px 20%;
                    color: #848484;
                    line-height: 1.5em;
                    // background-color:green;
                }

                > .title {
                    width: 100%;
                    height: auto;
                    text-align: right;
                    color: white;
                    padding: 115px 90px 0px 0px;
                    font-size: 3.75em;
                    // background-color: red;
                }

            }
            
            > .right {
                width: 735px;
                height: 720px;
                // background-color:blue;
                background-image: url("../images/template-feature04.png");
                background-size: contain;
                background-repeat: no-repeat;

                > .text {
                    width: 442px;
                    height: 272px;
                    font-size: 2.5em;
                    margin: 25% 0px 0px 20%;
                    color: #848484;
                    line-height: 1.5em;
                    // background-color:green;
                }

                > .title {
                    width: 100%;
                    height: auto;
                    text-align: left;
                    color: white;
                    padding: 115px 90px 0px 60px;
                    font-size: 3.75em;
                    // background-color: red;
                }

            }
        }

    }
}

@media screen and (max-width: $phoneSize) {

article {

    > .title {
        margin: 0px auto;
        width: 100%;
        height: auto;
        padding: 60px 0px 0px 0px;
        // background-color: red;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        > .left {
            width: 100%;
            color: #9B59B6;
            font-size: 1.75em;
            text-align: center;
            margin: 0px 0px 25px 0px;
            // background-color: orange;
            // background-size: cover;

            > .line {
                display: none;
            }
        }

        > .right {
            width: 100%;
            color: #848484;
            font-size: 1.2em;
            text-align: center;
            // background-color: blueviolet;
        }

    } 

    > .detail {
        // width: 90%;
        // height: auto;
        // background-color: red;
        // margin: 0 auto;
        
        width: 100%;
        height: auto;
        margin: 100px 0px 106px 0px;
        // background-color: lightgreen;

        > .firstline {
            width: 100%;
            height: auto;
            // background-color: lightpink;
            margin: 0px 0px 5% 0px;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            > .left {
                width: 100%;
                height: 400px;    
                margin: 0px 0px 5% 0px;
                // background-size: cover;
                // background-color:red;

                > .text {
                    width: 70%;
                    height: auto;
                    font-size: 1.5em;
                    margin: 85px 0px 0px 16%;
                    color: #848484;
                    line-height: 1.5em;
                    // background-color:green;
                }

                > .title {
                    width: 100%;
                    font-size: 1.625em;
                    padding: 80px 15% 0px 0px;
                    // margin: 42px 0px 0px 0px;
                    // background-color: red;
                }
            }

            > .right {
                width: 100%;
                height: 400px;    
                // background-size: cover;
                // background-color:yellow;

                > .text {
                    width: 80%;
                    height: auto;
                    font-size: 1.5em;
                    margin: 25% 0px 0px 15%;
                    line-height: 1.5em;
                    // background-color:green;
                }

                > .title {
                    width: 100%;
                    text-align: left;
                    padding: 100px 0px 0px 40px;
                    font-size: 1.625em;
                    // background-color: red;
                }

            }
        }

        > .secondline {
            width: 100%;
            height: auto;
            // background-color: orangered;
            margin: 0px 0px 0px 0px;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            > .left {
                width: 100%;
                height: 400px;
                margin: 0px 0px 5% 0px;
                // background-color:yellowgreen;
                // background-size: cover;

                > .text {
                    width: 80%;
                    height: auto;
                    font-size: 1.5em;
                    margin: 25% 0px 0px 10%;
                    line-height: 1.5em;
                    // background-color:green;
                }

                > .title {
                    width: 100%;
                    height: auto;
                    text-align: right;
                    padding: 60px 18% 0px 0px;
                    font-size: 1.625em;
                    // background-color: red;
                }

            }
            
            > .right {
                width: 100%;
                height: 400px;    
                // background-size: cover;
                // background-color:blue;

                > .text {
                    width: 80%;
                    height: auto;
                    font-size: 1.5em;
                    line-height: 1.5em;
                    margin: 25% 0px 0px 10%;
                    // background-color:green;
                }

                > .title {
                    width: 100%;
                    height: auto;
                    text-align: left;
                    padding: 70px 0px 0px 12.6%;                    
                    font-size: 1.625em;
                    // background-color: red;
                }

            }
        }
        
    }

}

}