main {
    width: 100%;
    height: 1000px;
    // background-color: yellowgreen;

    > .title {
        margin: 0px auto;
        width: $pcSize;
        height: 53px+60px;
        padding: 60px 0px 0px 0px;
        // background-color: red;

        display: flex;
        align-items: center;
        justify-content: center;

        > .left {
            color: #9B59B6;
            font-size: 2.5em;
        }

        > .right {
            color: #848484;
            font-size: 2.5em;
        }
    }

    > .subtitle {
        width: 100%;
        color: #848484;
        font-size: 48px;
        margin: 66px 0px 0px 0px;
        // background-color: orange;

        display: flex;
        align-items: center;
        justify-content: center;
        
        > .text {
            // width: $pcSize;
            font-weight: bold;
            border-bottom: 5px solid #848484;
            padding: 0px 0px 12px 0px;
            // background-color: yellowgreen;
        }
    }

    > .steparea {
        width: 100%;
        height: 570px;
        // background-color: green;

        display: flex;
        align-items: center;
        justify-content: center;

        > .stepwrap {
            width: $pcSize;
            height: auto;
            // background-color:yellow;

            display: flex;
            align-items: center;
            justify-content: center;

            > .step1 {
                width: 400px;
                height: 270px;
                text-align: center;
                margin: 0px 50px 0px 0px;
                // background-color: orange;

                > img {
                    // width: 100%;
                    height: 270px;
                }

                > .text {
                    color: #848484;
                    font-size: 30px;
                    font-weight: bold;
                    margin: 75px 0px 0px 0px;
                }
            }

            > .step2 {
                width: 400px;
                height: 270px;
                text-align: center;
                margin: 0px 75px 0px 0px;
                // background-color: red;

                > img {
                    // width: 400px;
                    height: 270px;
                }

                > .text {
                    color: #848484;
                    font-size: 30px;
                    font-weight: bold;
                    margin: 75px 0px 0px 0px;
                }
            }

            > .step3 {
                width: 400px;
                height: 270px;
                text-align: center;
                margin: 0px 160px 0px 0px;
                // background-color: rosybrown;

                > img {
                    // width: 400px;
                    height: 270px;
                }

                > .text {
                    width: 500px;
                    color: #848484;
                    font-size: 30px;
                    font-weight: bold;
                    margin: 75px 0px 0px 0px;
                }
            }

            > .step4 {
                width: 400px;
                height: 270px;
                text-align: center;
                // background-color: rebeccapurple;

                > img {
                    // width: 400px;
                    height: 270px;
                }

                > .text {
                    color: #848484;
                    font-size: 30px;
                    font-weight: bold;
                    margin: 75px 0px 0px 0px;
                }
            }
        }
    }
}

@media screen and (max-width: $phoneSize) {

    main {
        width: 100%;
        height: auto;

        > .title {
            width: 100%;
            // background-color: red;
            display: block;

            > .left {
                width: 100%;
                color: #9B59B6;
                font-size: 2.5em;
                text-align: center;
                margin: 0px 0px 16px 0px;

                > .line {
                    display: none;
                }
            }

            > .right {
                width: 100%;
                color: #848484;
                font-size: 1.5em;
                text-align: center;
            }
        }

        > .subtitle {
            width: 100%;
            color: #848484;
            font-size: 0.875em;
            margin: 66px 0px 60px 0px;
            // background-color: orange;

            display: block;
            
            > .text {
                // background-color: yellowgreen;
                width: 51%;
                font-weight: bold;
                border-bottom: 3px#848484 solid;
                margin: 0px auto;
                padding: 10px 0px 6px 0px;
                text-align: center;
            }
        }

        > .steparea {
            width: 100%;
            height: auto;
            // background-color: green;

            display: block;

            > .stepwrap {
                width: 100%;
                height: auto;
                // background-color:yellow;

                display: flex;
                flex-direction: column;
                // align-items: center;
                // justify-content: center;

                > .step1 {
                    width: 100%;
                    height: auto;
                    text-align: center;
                    margin: 0px 0px 90px 0px;
                    // background-color: orange;

                    > img {
                        width: 80%;
                        // height: 270px;
                    }

                    > .text {
                        color: #848484;
                        font-size: 30px;
                        font-weight: bold;
                        margin: 43px 0px 0px 0px;
                    }
                }

                > .step2 {
                    width: 100%;
                    height: auto;
                    text-align: center;
                    margin: 0px 0px 90px 0px;
                    // background-color: red;

                    > img {
                        width: 80%;
                        // height: 270px;
                    }

                    > .text {
                        color: #848484;
                        font-size: 1.875em;
                        font-weight: bold;
                        margin: 43px 0px 0px 0px;
                    }
                }

                > .step3 {
                    width: 100%;
                    height: auto;
                    text-align: center;
                    margin: 0px 0px 90px 0px;
                    // background-color: rosybrown;

                    > img {
                        width: 80%;
                        // height: 270px;
                    }

                    > .text {
                        width: 100%;
                        color: #848484;
                        font-size: 1.875em;
                        font-weight: bold;
                        margin: 43px 0px 0px 0px;
                    }
                }

                > .step4 {
                    width: 100%;
                    height: auto;
                    text-align: center;
                    margin: 0px 0px 70px 0px;
                    // background-color: rebeccapurple;

                    > img {
                        width: 80%;
                        // height: 270px;
                    }

                    > .text {
                        // background-color: royalblue;
                        width: 100%;
                        font-size: 1.875em;
                        margin: 43px 0px 0px 0px;
                    }
                }

            }
        }

    }

}