article {
    width: 100%;
    height: auto;
    padding: 0px 10% 0px 15%;    
    // background-color: lightyellow;

    > .form {
        width: 915px;
        height: 1200px;
        float: left;
        // height: auto;
        // background-color: lightblue;

        > form > .formtitle {
            color: #848484;
            font-size: em(32);
            font-weight: bold;
            margin: 0px 0px 20px 0px;
        }

        > form > input.forminput {
            background-color: #F5F5F5;
            border: #E3E3E3 1px solid;
            width: 920px;
            height: 80px;
            margin: 0px 0px 50px 0px;
            font-size: 2em;
        }

        > form > textarea.formtextareas {
            background-color: #F5F5F5;
            border: #E3E3E3 1px solid;
            width: 920px;
            height: 350px;
            font-size: 2em;
        }
    }

    > .info {
        width: 700px;
        height: 1200px;
        float: left;
        margin: 0px 0px 0px 60px;
        // background-color:lightgreen;

        > .title {
            color:#848484;
            font-size: em(32);
            font-weight: bold;
        }

        > .infotext {
            color:#848484;
            font-size: em(32);
            margin: 40px 0px 0px 0px;
        }
    }

}


@media screen and (max-width: $phoneSize) {

article {  
    width: 100%;
    height: auto;
    padding: 0px 7% 0px 7%;    
    background-color: lightyellow;

    > .form {
        width: 100%;
        height: 1200px;
        float: left;
        // background-color: lightblue;

        > form > .formtitle {
            color: #848484;
            font-size: em(32);
            font-weight: bold;
            margin: 0px 0px 50px 0px;
        }

        > form > input.forminput {
            background-color: #F5F5F5;
            border: #E3E3E3 1px solid;
            width: 100%;
            height: 80px;
            margin: 0px 0px 55px 0px;
            font-size: 2em;
        }

        > form > textarea.formtextareas {
            background-color: #F5F5F5;
            border: #E3E3E3 1px solid;
            width: 100%;
            height: 350px;
            font-size: 2em;
        }
    

    }

    > .info {
        width: 100%;
        height: auto;
        float: left;
        margin: 0px 0px 75px 0px;
        // background-color:lightgreen;

        > .title {
            color:#848484;
            font-size: em(32);
            font-weight: bold;
        }

        > .infotext {
            width: 100%;
            color:#848484;
            font-size: em(18);
            margin: 40px 0px 0px 0px;
        }
    }
}

}