.banner {
    // background-color: lightblue;
    width: 100%;
    height: 415px;
    font-size: 6.75em;
    color: white;
    
    background-image: url("../images/contact-bannerbg.png");
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    align-items: center;
    justify-content: center;

}

@media screen and (max-width: $phoneSize) {
    .banner {
        width: 100%;
        height: 230px;
        display: block;
        font-size: em(36);

        display: flex;
        align-items: center;
        justify-content: center;
    }
}