main {
    width: 100%;
    height: 285px;

    > .title {
        width: 50%;
        height: auto;
        text-align: center;
        color: #7B7B7B;
        font-size: 2em;
        margin: 0px auto;
        padding: 85px 0px 20px 0px;
        font-weight: bolder;
        border-bottom: 5px#707070 solid;
        // background-color:lightblue;

        > .first {
            width: 80%;
        }

        > .second {
            width: 80%;
        }

    }
}

@media screen and (max-width: $phoneSize) {
    main {
        width: 100%;
        height: 285px;
    
        > .title {
            width: 80%;
            height: auto;
            line-height: 2em;
            font-size: em(18);
            margin: 0px auto;
            padding: 85px 0px 20px 0px;
            font-weight: bolder;
            border-bottom: none;
            // background-color:lightblue;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
            > .first {
                width: 50%;
                float: left;
                border-bottom: 5px#707070 solid;
                margin: 0px 0px 20px 0px;
            }
    
            > .second {
                width: 104%;
                float: left;
                border-bottom: 5px#707070 solid;
            }
    
        }
    }
}