@mixin img {
    float: left;
    margin: 25px 0px 0px 0px;
}

@mixin title {
    font-size: 52px;
    font-weight: bolder;
    color: #616161;
    margin: 0px 0px 30px 0px;
}

@mixin main {
    font-size: 26px;
    color: #616161;
}

article {
    // background-color: #ccc;
    width: 100%;
    height: 570px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    >.content{
        width: 1560px;
        height: 360px;
        // background-color: blue;

        >h1 {
            text-align: center;
            margin: 0px 0px 0px 0px;
            font-size: 58px;
            color: #616161;
            // background-color: red;
        }

        >.areaWrap{
            width: 100%;
            height: 218px;
            margin: 66px 0px 0px 0px;

            >.areaLeft {
                // background-color: red;
                width: 33.3%;
                float: left;

                >img {
                    @include img();
                }

                >.text {
                    width: 70%;
                    float: right;

                    >.title {
                        @include title();
                    }

                    >.main {
                        @include main();
                    }
                }
            }
    
            >.areaMid {
                // background-color: yellowgreen;
                width: 33.3%;
                float: left;

                >img {
                    @include img();
                }

                >.text {
                    width: 70%;
                    float: right;

                    >.title {
                        @include title();
                    }

                    >.main {
                        @include main();
                    }
                }
            }
    
            >.areaRight {
                // background-color: blueviolet;
                width: 33.3%;
                float: left;

                >img {
                    @include img();
                }

                >.text {
                    width: 70%;
                    float: right;

                    >.title {
                        @include title();
                    }

                    >.main {
                        @include main();
                    }
                }
            }
        }

    }
   
}


@media screen and (max-width: $phoneSize) {
    article {
        width: 100%;
        // height: 940px;

        >.content{
            width: 85%;
            margin: -100px 0px 0px 0px;

            >.areaWrap{
                height: 250px;

                >.areaLeft {
                    width: 100%;
                    float: left;
    
                    >img {
                        float: left;
                        margin: 37px 0px 0px 0px;
                        width: 85px;
                    }

                    >.text {
                        width: 70%;
                        
                        >.title {
                            width: 80%;
                            float: right;
                            font-size: 2.1em;
                            font-weight: bolder;
                            color: #616161;
                            margin: 0px 0px 16px 0px;
                            padding: 0px 15px 0px 0px;
                        }
                        
                        >.main {
                            width: 90%;
                            float: right;
                            font-size: 26px;
                            color: #616161;
                        }

                    }
    
                }
        
                >.areaMid {
                    // background-color: yellowgreen;
                    width: 100%;
                    float: left;
                    clear: both;
                    margin: 33px 0px 0px 0px;                    
                    >img {
                        float: left;
                        margin: 37px 0px 0px 0px;
                        width: 85px;
                    }

                    >.text {
                        width: 70%;
                        
                        >.title {
                            width: 80%;
                            float: right;
                            font-size: 2.1em;
                            font-weight: bolder;
                            color: #616161;
                            margin: 0px 0px 16px 0px;
                            padding: 0px 15px 0px 0px;
                        }
                        
                        >.main {
                            width: 90%;
                            float: right;
                            font-size: 26px;
                            color: #616161;
                        }

                    }
                }
        
                >.areaRight {
                    // background-color: blueviolet;
                    width: 100%;
                    float: left;
                    margin: 33px 0px 72px 0px;  
    
                    >img {
                        float: left;
                        margin: 37px 0px 0px 0px;
                        width: 85px;
                    }

                    >.text {
                        width: 70%;
                        
                        >.title {
                            width: 80%;
                            float: right;
                            font-size: 2.1em;
                            font-weight: bolder;
                            color: #616161;
                            margin: 0px 0px 16px 0px;
                            padding: 0px 15px 0px 0px;
                        }
                        
                        >.main {
                            width: 90%;
                            float: right;
                            font-size: 26px;
                            color: #616161;
                        }

                    }
                }
            }  
        }
    }
}