aside {
    width: 100%;
    height: 815px;

    display: flex;
    align-items: center;
    justify-content: center;

    >.asideWrap {
        width: 1560px;
        height: 615px;
        margin: 0px 0px 120px 0px;
        // background-color: red;

        >h3 {
            font-size: 3.625em;
            color: #616161;
            text-align: center;
        }

        >.projectWrap {
            display: flex;
            justify-content: space-around;
            align-items: flex-start;
            margin-bottom: 120px;

            >.project {
                // background-color: red;
                height: 490px;

                > image {
                    background-color: orange;
                    margin: 0px;
                    padding: 0px;
                    width: 100%;
                    height: 348px;
                }
                
                >.textWrap {
                    width: 99.5%;
                    height: 145px;
                    border-right: 1px#707070 solid;
                    border-left: 1px#707070 solid;
                    border-bottom: 1px#707070 solid;

                    >.title {
                        display: flex;
                        align-items: center;
                        justify-content: center;

                        >.text {
                            // background-color: orange;
                            font-size: 1.5em;
                            float: left;
                            margin-top: 20px;
                            padding: 0px 25px 0px 25px;
                            border-right: 2px #707070 solid;
                        }
                        >.text:last-child {
                            border-right: none;
                        }
                    }
                    
                    >a {
                        text-decoration: none;
                        text-align: center;
                        display: block;
                        padding: 27px 0px 0px 0px;

                        >h5 {
                            // margin: 27px 0px 0px 0px;
                            margin: 0px;
                            padding: 0px;
                            color:#616161;
                            font-size: 2em;
                            
                            &:hover {
                                color: $hoverColor;
                            }
                        }
                    }

                }

            }
        }
    }
}

@media screen and (max-width: $phoneSize) {
    aside {
        width: 100%;
        height: auto;
        display: block;

        >.asideWrap {
            width: 100%;
            height: auto;
            // background-color:red;

            >.projectWrap {
                width: 100%;
                display: block;

                >.project {
                    // background-color: red;
                    height: 490px;
                    margin-bottom: 75px;
                    padding: 0px 8.4% 0px 8.4%;
    
                    > a > .projectimg {
                        width: 100%;
                        height: 348px;
                        // background-color: orange;
                        margin: 0px;
                        padding: 0px;
                    }
                    
                    >.textWrap {
    
                        >.title {

                            >.text {
                                font-size: 1.0625em;
                                height: 22px;
                                padding: 0px 15px 0px 15px;
                            }

                        }
                        
                        >a {
                            text-decoration: none;
                            text-align: center;
                            display: block;
                            padding: 27px 0px 0px 0px;
    
                            >h5 {
                                font-size: 1.5em;
                            }
                        }
    
                    }
    
                }
            }
        }
    }
}