.banner {
    width: 100%;
    height: 420px;
    background-color: #567887;

    // flex圖片置中方法
    display: flex;
    align-items: center;
    justify-content: center;

    >img {
        width: $pcSize;
        // width: 100%;
        // height: 420px;
    }
}

@media screen and (max-width: $phoneSize) {
    .banner {
        width: 100%;
        height: auto;
        background-color: #567887;
        >img {
            width: 100%;
        }
    }
}