footer {
    width: 100%;
    height: 175px;
    background-color: #2D3134;
    display: flex;
    align-items: center;
    justify-content: center;

    >.footerWrap {
        // background-color: lightblue;
        width: $pcSize;
        height: inherit;
        padding: 60px 0px 0px 151px;

        >.copyright {
            color: #fff;
            font-size: 1.25em;
            float: left;
        }

        >.footerList {
            float: right;
            width: 41%;
            margin: 0px 13.2% 0px 0px;

            >ul {
                >a >li {
                    list-style-type: none;
                    color: white;
                    font-size: 1.25em;
                    float: left;
                    margin: 0px 60px 0px 0px;

                    &:hover{
                        color: $hoverColor;
                        font-weight: bolder;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: $phoneSize) {
    footer {
        width: 100%;
        height: 370px;
        display: block;

        >.footerWrap {
            // background-color: lightblue;
            width: 80%;
            height: auto;
            padding: 40px 0px 0px 0px;
            margin: 0px 0px 0px 10%;
            
            >.copyright {
                font-size: 0.9375em;
            }
    
            >.footerList {
                float: left;
                width: 80%;
    
                >ul {
                    margin: 0px;
                    padding: 0px;
                    >a {
                        >li {
                            margin: 30px 60px 0px 0px;
                            clear: both;
        
                            &:hover{
                                color: $hoverColor;
                                font-weight: bolder;
                            }

                        }
                    }
                }
            }
        }
    }
}