header {
    // background: #ccc;
    width: 100%;
    height: 101px;
    
    >.logo {
        // background-color: red;
        width: $pcSize;
        margin: 0 auto;
        padding: 1.2% 0px 0px 0px;

        >img {
            width: 240px;
            margin-left: 160px;
        }

        >.smallmenu {
            display: none;
        }
    }
}

@media screen and (max-width: $phoneSize) {

    header {
        // background-color: red;
        width: 100%;

        >.logo {
           //background-color: blue;
           width: 100%;
           height: inherit;

           > img {
                //background-color: yellow;
                width: 60%;
                margin: 20px 0px 0px 12.6%;
           }

           >.smallmenu {
                display: block;
                float: right;
                margin: 18px 4% 0px 0%;

                >img {
                    cursor: pointer;
                }
           }
        }
    }
    
}