main {
    width: 100%;
    height: 650px;
    background-image: url("../images/about-background.png");
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;

    >.mainWrap {
        // background-color: rgb(37, 141, 119);
        width: 960px;
        height: 380px;
        
        >h2 {
            color: #FFF;
            font-size: 3.625em;
            text-align: center;
        }

        >p {
            color: #FFF;
            font-size: 2.375em;
        }
    }

}

@media screen and (max-width: $phoneSize) {
    main {
        margin: 100% 0px 0px 0px;
        height: 404px;

        >.mainWrap {
            width: 100%;
            height: 380px;
            
            >h2 {
                font-size: 1.875em;
            }
    
            >p {
                padding: 30px;
                font-size: 1.25em;
            }
        }
    }
}