$fontColor: #707070;
$backgroundColor: #F9F9F9;

$lineHight: 55px;

nav {
    width: 100%;
    height: 55px;
    background-color: $backgroundColor;

    >.list {
        // background-color: red;
        width: $pcSize;
        height: inherit;
        margin: 0 auto;
        padding-left: 160px;

        >ul {
            // background-color: yellowgreen;
            margin: 0;
            padding: 0;
    
            >a >li {
                // background-color: $colorPurple;
                width: 200px;
                line-height: $lineHight;
                color: $fontColor;
                text-align: center;
                float: left;
                display: block;
                // font-size: pxToVw(20);
                font-size: 1.25em;
                margin: 0 10px;

                &:hover{
                    color: $hoverColor;
                    font-weight: bolder;
                    // cursor: pointer;
                }
            }
        }
    }

}

#minimenu {
    position: fixed;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background-color:#333;
    z-index: 9999;
    transition: all .3s;

    > #close_btn {
        width: 37px;
        height: 37px;
        margin: 28px 0px 0px 28px;
        display: block;
        // background-color: #fff;
    }

    > .list {
        // background-color: red;
        width: 70%;
        height: auto;
        margin: 0px 0px 0px 43px;
        padding: 11% 0px 0px 0px;

        >ul {
            >li {
                list-style-type: none;
                padding: 0px 0px 30% 0px;
                >a {
                    text-decoration: none;
                    transition: all .3s;
                    line-height: 40px;
                    padding: 0 30px;
                    color: white;
                    font-size: 2em;

                    &:hover {
                        font-size: 2.5em;
                    }
                }
            }
        }
    }
}

#minimenu.open{
    left: 0;
}

@media screen and (max-width: $phoneSize) {
    nav {
        display: none;
    }
}