section {
    width: 100%;
    height: 325px;
    background-color: #303538;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    
    >.infoWrap {
        // background-color: lightcoral;
        width: $pcSize;
        height: inherit;

        >.info {
            // background-color: purple;
            float: left;
            width: 345px;
            height: auto;
            margin: 65px 0px 0px 176px;
            box-sizing: border-box;
    
            >.infodata {
                color: white;
                margin: 20px 0px 0px 0px;
                font-size: 1.25em;
                
                &:first-child {
                    font-weight: bolder;
                    font-size: 1.6em;
                }
            }
        }
    
        >.about {
            float: left;
            // background-color: lightblue;
            width: 486px;
            margin: 65px 0px 0px 95px;

            >.infodata {
                color: white;
                margin: 20px 0px 0px 0px;
                font-size: 1.25em;
                
                &:first-child {
                    font-weight: bolder;
                    font-size: 1.6em;
                }
            }

        }

    }
}

@media screen and (max-width: $phoneSize) {
    section {
        width: 100%;
        height: auto;
        display: block;
        
        >.infoWrap {
            width: 100%;
    
            >.info {
                width: 80%;
                height: auto;
                margin: 48px 0px 0px 10%;
            }
        
            >.about {
                width: 80%;
                margin: 65px 0px 45px 10%;
            }
    
        }
    }
}