.banner {
    // background-color: lightblue;
    width: 100%;
    height: 415px;
    display: flex;
    align-items: center;
    justify-content: center;

    > .background {
        width: $pcSize;
        height: 417px;
        background-image: url("../images/banner-customized.png");
        background-size: cover; 

        > h1 {
            color: white;
            font-size: 6.75em;
            margin: 2.3% 0px 0px 36.4%;
        }

        > .line {
            margin: 55px 0px 0px 0px;
            width: 100%;
            height: 111px;
            background:rgba(249,249,249,0.6);

            display: flex;
            align-items: center;
            justify-content: center;

            > .btn1 {
                float: left;
                width: 398px;
                height: inherit;
                background-color:#9B59B6;
                
                display: flex;
                align-items: center;
                justify-content: center;
                
                > a {
                    color:white;
                    font-size: 2em;
                    text-decoration: none;
                }
            }

            > .btn2 {
                float: left;
                width: 398px;
                height: inherit;
                // background-color: orange;

                display: flex;
                align-items: center;
                justify-content: center;

                > a {
                    color:#707070;
                    font-size: 2em;
                    text-decoration: none;
                }
            }

            > .btn3 {
                float: left;
                width: 398px;
                height: inherit;
                // background-color: orchid;

                display: flex;
                align-items: center;
                justify-content: center;

                > a {
                    color:#707070;
                    font-size: 2em;
                    text-decoration: none;
                }
            }
        }
    }
}

@media screen and (max-width: $phoneSize) {
    .banner {
        width: 100%;
        height: 230px;
        display: block;

        > .background {
            width: 100%;
            height: auto;
            padding: 0px 0px 30px 0px;
            background-image: url("../images/banner-customized.png");
            background-size: cover;
            background-repeat: no-repeat;

            > h1 {
                color: white;
                font-size: 2.6875em;
                margin: 0px 0px 0px 0px;
                padding: 20px 0px 0px 21.3%;
            }

            > .line {
                margin: 30px 0px 0px 0px;
                width: 100%;
                height: 111px;
                background:rgba(249,249,249,0);
    
                display: flex;
                align-items: center;
                justify-content: center;
    
                > .btn1 {
                    float: left;
                    width: 116px;
                    height: 95px;
                    margin: 0px 0px 0px 20px;
                    padding: 14px 20px 14px 20px;
                    border-radius: 25px;
                    background-color:#9B59B6;
                    text-align: center;
                    
                    > a {
                        font-size: 1.2em;
                    }
                }
    
                > .btn2 {
                    float: left;
                    width: 116px;
                    height: 95px;
                    border-radius: 25px;
                    background-color:#E2DEDB;
                    margin: 0px 0px 0px 13px;
                    padding: 14px 20px 14px 20px;
                    text-align: center;
    
                    > a {
                        font-size: 1.2em;
                    }
                }
    
                > .btn3 {
                    float: left;
                    width: 116px;
                    height: 95px;
                    margin: 0px 20px 0px 13px;
                    padding: 14px 20px 14px 20px;
                    border-radius: 25px;
                    background-color:#E2DEDB;
                    text-align: center;
    
                    > a {
                        font-size: 1.4em;
                    }
                }
            }

        }
    }
}