main {
    width: 100%;
    height: 1655px;
    // background-color: yellowgreen;

    > .title {
        margin: 0px auto;
        width: $pcSize;
        height: 53px+60px;
        padding: 60px 0px 0px 0px;
        // background-color: red;

        display: flex;
        align-items: center;
        justify-content: center;

        > .left {
            color: #9B59B6;
            font-size: 2.5em;
        }

        > .right {
            color: #848484;
            font-size: 2.5em;
        }
    }
}

article {
    // background-color: red;
    width: 100%;
    margin: 145px 0px 0px 0px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    > .section1 {
        width: $pcSize;
        height: 490px;
        // background-color: yellow;

        > .leftimg {
            float: left;
            width: 58.8%;
            padding: 0px 0px 0px 100px;
            // background-color: green;        
        }

        > .righttext {
            float: left;
            width: 33%;
            font-size: 2em;
            color: #888888;
            padding: 100px 0px 0px 50px;
            line-height: 1.4em;
            // background-color: blue;
        }
    }

    > .section2 {
        width: $pcSize;
        height: 610px;
        margin: 156px 0px 162px 0px;
        // background-color: red;

        > .lefttext {
            float: left;
            width: 44.2%;
            font-size: 2em;
            color: #888888;
            padding: 100px 6% 0px 7.4%;
            line-height: 1.4em;
            // background-color: blue;

            > .text2 {
                margin: 45px 0px 0px 0px;
            }
        }

        > .rightimg {
            float: left;
            width: 41%;
            padding: 0px 0px 0px 0px;
            // background-color: green;        
        }
    }
}

@media screen and (max-width: $phoneSize) {
    main {
        width: 100%;
        height: auto;
        // background-color: yellowgreen;
    
        > .title {
            margin: 0px auto;
            width: 100%;
            height: 150px;
            padding: 0px 0px 0px 0px;
            // background-color: red;
    
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
            > .left {
                width: 100%;
                color: #9B59B6;
                font-size: 1.75em;
                text-align: center;
                margin: 0px 0px 16px 0px;
                // background-color: orange;

                > .line {
                    display: none;
                }
            }
    
            > .right {
                width: 100%;
                color: #848484;
                font-size: 1.5em;
                text-align: center;
                // background-color: blueviolet;
            }
        }
    }

    article {
        // background-color: red;
        width: 100%;
        margin: 0px 0px 0px 0px;
    
        > .section1 {
            width: 100%;
            height: auto;
            // background-color: yellow;
    
            > .leftimg {
                float: left;
                width: 100%;
                padding: 0px 0px 0px 0px;
                // background-color: green;  
                
                > img {
                    width: 100%;
                    padding: 10%;
                }
            }
    
            > .righttext {
                width: 100%;
                padding: 30px;
                line-height: 1.5em;
            }
        }
    
        > .section2 {
            width: 100%;
            height: auto;
            margin: 45px 0px 0px 0px;
            // background-color: red;

            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
    
            > .lefttext {
                float: right;
                width: 100%;
                padding: 35px 35px 35px 35px;
                // background-color: blue;
                order: 2;
    
                > .text2 {
                    margin: 45px 0px 45px 0px;
                }
            }
    
            > .rightimg {
                float: left;
                width: 100%;
                padding: 0px 0px 0px 0px;
                // background-color: green;  
                order: 1;
                
                > img {
                    width: 100%;
                    padding: 10%;
                }
            }
        }
    }
}