main {
    width: 100%;
    height: 285px;

    > .title {
        width: 40%;
        height: auto;
        text-align: center;
        color: #7B7B7B;
        font-size: 2em;
        margin: 0px auto;
        padding: 85px 0px 20px 0px;
        font-weight: bolder;
        border-bottom: 5px#707070 solid;
        // background-color:lightblue;

        > .first {
            width: 80%;
        }

        > .second {
            width: 80%;
        }

       /*  > .line {
            display: block;
            background-color: #707070;
            width: 100%;
            height: 5px;
            margin: 15px 0px 0px 0px;
        } */
    }
}

article {
    width: 100%;
    height: auto;
    // background-color: lightyellow;

    > .row {
        width: 100%;
        height: auto;
        padding: 0px 10% 150px 17%;
        overflow: hidden;

        > .works {
            width: 465px;
            height: 480px;
            margin: 0px 0px 50px 85px;
            float: left;
            // background-color: lightgreen;

            > .wrap {
                width: 100%;
                height: 145px;
                border-left: 1px#707070 solid;
                border-right: 1px#707070 solid;
                border-bottom: 1px#707070 solid;
                padding: 20px 0px 0px 0px;
                // background-color:red;

                > .title {
                    width: 100%;
                    height: auto;
                    text-align: center;
                    
                    > a {
                        color: #616161;
                        font-size: 2em;
                        text-decoration: none;
                    }
                }

                > .content {
                    width: 100%;
                    height: auto;
                    padding: 30px 0px 0px 0px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    > .words {
                        width: 152px;
                        height: 30px;
                        color: #616161;
                        font-size: 1.5em;
                        text-align: center;
                        border-right: 2px#707070 solid;

                        &:last-child {
                            border-right: none;
                        }
                    }
                }
            }

        }
    }

}

@media screen and (max-width: $phoneSize) {

main {
    width: 100%;
    height: 285px;

    > .title {
        width: 100%;
        height: auto;
        font-size: 16px;
        line-height: 40px;
        margin: 0px 0px 0px 0px;
        padding: 85px 0px 0px 0px;
        font-weight: bolder;
        border-bottom: none;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        > .first {
            float: left;
            width: 75%;
            border-bottom: 5px#707070 solid;
            // background-color:red;
        }

        > .second {
            float: left;
            width: 60%;
            border-bottom: 5px#707070 solid;
            margin: 20px 0px 0px 0px;
            // background-color: orange;
        }

    }
}

article {
    width: 100%;
    height: auto;
    // background-color: lightyellow;

    > .row {
        width: 90%;
        height: auto;
        padding: 0px 0% 150px 10%;
        overflow: hidden;

        > .works {
            width: 100%;
            height: 480px;
            margin: 0px 0px 50px 0px;
            float: left;
            // background-color: lightgreen;

            > .wrap {
                width: 100%;
                height: 145px;
                border-left: 1px#707070 solid;
                border-right: 1px#707070 solid;
                border-bottom: 1px#707070 solid;
                padding: 20px 0px 0px 0px;
                // background-color:red;

                > .title {
                    width: 100%;
                    height: auto;
                    text-align: center;
                    
                    > a {
                        color: #616161;
                        font-size: 2em;
                        text-decoration: none;
                    }
                }

                > .content {
                    width: 100%;
                    height: auto;
                    padding: 30px 0px 0px 0px;

                    display: flex;
                    align-items: center;
                    justify-content: center;

                    > .words {
                        width: 152px;
                        height: 30px;
                        line-height: 30px;
                        color: #616161;
                        font-size: em(17);
                        text-align: center;
                        border-right: 2px#707070 solid;

                        &:last-child {
                            border-right: none;
                        }
                    }
                }
            }

        }
    }

}

}