article {
    width: 100%;
    height: 1050px;
    // background-color: orange;

    > .title {
        margin: 0px auto;
        width: $pcSize;
        height: 52px+60px;
        padding: 117px 0px 77px 0px;
        // background-color: red;

        display: flex;
        align-items: center;
        justify-content: center;

        > .left {
            color: #9B59B6;
            font-size: 2.5em;
        }

        > .right {
            color: #848484;
            font-size: 2.5em;
        }
    } 

    > .detail {
        // background-color: red;
        width: 1295px;
        height: 975px;
        margin: 0 auto;
        
        > .lefttop {
            float: left;
            margin: 111px 0px 0px 0px;
            padding: 17px 0px 0px 40px;
            background-image: url("../images/point1.png");
            background-repeat: no-repeat;
            // width: 467px;
            width: 36%;
            height: 279px;

            > .headline {
                color: #F2644F;
                font-size: 3.875em;
            }

            > .text {
                width: 85%;
                margin: 25px 0px 0px 0px;
                color: #848484;
                font-size: 1.75em;
            }
        }

        > .leftfoot {
            float: left;
            clear: both;
            margin: 55px 0px 0px 0px;
            padding: 17px 0px 0px 40px;
            background-image: url("../images/point2.png");
            background-repeat: no-repeat;
            // width: 467px;
            width: 36%;
            height: 279px;

            > .headline {
                color: #00A04B;
                font-size: 3.875em;
            }

            > .text {
                width: 85%;
                margin: 25px 0px 0px 0px;
                color: #848484;
                font-size: 1.75em;
            }
        }

        > .mid {
            float: left;
            background-image: url("../images/pointmid.png");
            background-repeat: no-repeat;
            background-size: contain;
            width: 26.3%;
            height: 715px;
            margin: -250px 0px 0px 0px;
            // background-color: #fff;
        }

        > .righttop {
            float: right;
            margin: -282px 0px 0px 0px;
            padding: 17px 0px 0px 115px;
            background-image: url("../images/point3.png");
            background-repeat: no-repeat;
            // width: 467px;
            width: 36%;
            height: 279px;

            > .headline {
                color: #0086C9;
                font-size: 3.875em;
            }

            > .text {
                width: 85%;
                margin: 25px 0px 0px 0px;
                color: #848484;
                font-size: 1.75em;
            }
        }

        > .rightfoot {
            float: right;
            margin: 55px 0px 0px 0px;
            padding: 17px 0px 0px 120px;
            background-image: url("../images/point4.png");
            background-repeat: no-repeat;
            // width: 467px;
            width: 36%;
            height: 279px;

            > .headline {
                color: #E08F33;
                font-size: 3.875em;
            }

            > .text {
                width: 85%;
                margin: 15px 0px 0px 0px;
                color: #848484;
                font-size: 1.75em;
            }
        }
    }
}

@media screen and (max-width: $phoneSize) {

article {

    > .title {
        margin: 0px auto;
        width: 100%;
        height: auto;
        padding: 60px 0px 0px 0px;
        // background-color: red;

        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        > .left {
            width: 100%;
            color: #9B59B6;
            font-size: 1.75em;
            text-align: center;
            margin: 0px 0px 25px 0px;
            // background-color: orange;

            > .line {
                display: none;
            }
        }

        > .right {
            width: 100%;
            color: #848484;
            font-size: 1.2em;
            text-align: center;
            // background-color: blueviolet;
        }

    } 

    > .detail {
        // background-color: red;
        width: 90%;
        height: auto;
        // margin: 0 auto;
        
        > .lefttop {
            float: left;
            margin: 46px 0px 40px 0px;
            padding: 15px 0px 0px 30px;
            background-size: contain;
            width: 95%;
            height: 209px;

            > .headline {
                font-size: 2.75em;
            }

            > .text {
                width: 80%;
                margin: 25px 0px 0px 0px;
                font-size: 1.25em;
            }
        }

        > .leftfoot {
            float: left;
            clear: both;
            margin: 0px 0px 40px 0px;
            padding: 17px 0px 0px 40px;
            background-size: contain;
            width: 90%;
            height: 209px;

            > .headline {
                font-size: 2.75em;
            }

            > .text {
                width: 80%;
                margin: 10px 0px 0px 0px;
                font-size: 1.25em;
            }
        }

        > .mid {
            float: right;
            width: 95%;
            height: 680px;
            margin: 0px 0px 0px 0px;
        }

        > .righttop {
            float: right;
            margin: 0px 0px 60px 0px;
            padding: 17px 0px 0px 90px;
            background-size: contain;
            width: 100%;
            height: 201px;

            > .headline {
                font-size: 2.75em;
            }

            > .text {
                width: 85%;
                margin: 25px 0px 0px 0px;
                font-size: 1.25em;
            }
        }

        > .rightfoot {
            float: right;
            margin: 0px 0px 0px 0px;
            padding: 17px 0px 0px 75px;
            background-size: contain;
            width: 100%;
            height: 285px;

            > .headline {
                font-size: 2.75em;
            }

            > .text {
                width: 90%;
                margin: 15px 0px 0px 0px;
                font-size: 1.25em;
            }
        }
    }

}

}