aside {
    width: 100%;
    height: 800px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../images/suggest-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    > .asideWrap {
        width: $pcSize;
        height: inherit;

        display: flex;
        align-items: center;
        justify-content: center;
        
        > .suggestbg {
            width: 85.4%;
            height: 690px;
            background:rgba(48,53,56,0.6);
            overflow: hidden;

            > .title {
                width: 100%;
                height: auto;
                color: white;
                font-size: 3.625em;
                font-weight: bold;
                text-align: center;
                padding: 30px 0px;
                // background-color: red;
            }

            > .suggestLeft {
                // width: 360px;
                width: 21.9%;
                height: 328px;
                margin: 108px 0px 0px 115px;
                float: left;
                // background-color: #fff;
                background-image: url("../images/suggest-left.png");
                background-repeat: no-repeat;

                display: flex;
                align-items: center;
                justify-content: center;

                > .text {
                    font-size: 1.5em;
                    color: white;
                }
            }

            > .suggestMid {
                // width: 421px;
                width: 25.6%;
                height: 455px;
                margin: 50px 0px 0px 140px;
                float: left;
                // background-color:orange;
                background-image: url("../images/suggest-mid.png");

                display: flex;
                align-items: center;
                justify-content: center;
                
                > .text {
                    font-size: 2em;
                    color: white;
                }
            }

            > .suggestRight {
                // width: 386px;
                width: 23.5%;
                height: 351px;
                margin: 110px 0px 0px 130px;
                float: left;
                // background-color: paleturquoise;
                background-image: url("../images/suggest-right.png");

                display: flex;
                align-items: center;
                justify-content: center;
                
                > .text {
                    font-size: 1.5em;
                    color: white;
                }
            }
        }
    }
}

@media screen and (max-width: $phoneSize) {

aside {
    width: 100%;
    height: auto;

    display: flex;
    align-items: center;
    justify-content: center;

    background-image: url("../images/suggest-bg.png");
    background-repeat: no-repeat;
    background-size: cover;

    > .asideWrap {
        width: 341px/412px*100%;
        // height: inherit;
        padding: 55px 0px 45px 0px;

        display: block;
        // align-items: center;
        // justify-content: center;

        > .suggestbg {
            width: 100%;
            height: auto;
            background:rgba(48,53,56,0.6);
            overflow: hidden;
            padding: 0px 21px 30px 21px;
            
            > .title {
                padding: 35px 25px 0px 25px;
                font-size: 2.5em;
            }

            > .suggestLeft {
                width: 100%;
                height: 335px;
                margin: 0px 0px 30px 0px;
                background-image: url("../images/suggest-left.png");
                background-position: center;
                background-size: contain;

                > .text {
                    font-size: 1.3em;
                    color: white;
                }
            }

            > .suggestMid {
                width: 100%;
                height: 347px;
                margin: 0px 0px 50px 0px;
                background-image: url("../images/suggest-mid.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;

                > .text {
                    font-size: 1.3em;
                    color: white;
                }
            }

            > .suggestRight {
                width: 100%;
                height: 275px;
                margin: 0px 0px 0px 0px;
                background-image: url("../images/suggest-right.png");
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
                
                > .text {
                    font-size: 1.3em;
                    color: white;
                }
            }
        }
    
    }
}

}